[Unit]
Description=Aggregate Healthcheck
After=vulcan.service
Requires=docker.service
Wants=aggregate-healthcheck-sidekick@%i.service

[Service]
Environment="DOCKER_APP_VERSION=latest"
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=/bin/bash -c 'docker history coco/aggregate-healthcheck:$DOCKER_APP_VERSION > /dev/null 2>&1 || /usr/bin/docker pull coco/aggregate-healthcheck:$DOCKER_APP_VERSION'

ExecStart=/bin/bash -c '\
  ENV=$(/usr/bin/etcdctl get /ft/config/environment_tag); \
  docker run --rm --name %p-%i_$(uuidgen) -p 8080 \
    --memory="16m" --memory-swap="16m" \
	--env="ETCD_PEERS=http://$HOSTNAME:2379" \
	--env="VULCAND_ADDRESS=$HOSTNAME:8080" \
	--env="GRAPHITE_HOST=graphite.ft.com" \
	--env="GRAPHITE_PORT=2003" \
	--env="ENVIRONMENT=$ENV" \
	coco/aggregate-healthcheck:$DOCKER_APP_VERSION'

ExecStop=-/bin/bash -c 'docker stop -t 3 "$(docker ps -q --filter=name=%p-%i_)"'
Restart=on-failure
RestartSec=60

[X-Fleet]
Conflicts=aggregate-healthcheck@*.service
