[Unit]
Description=Aggregate Healthcheck Sidekick
BindsTo=aggregate-healthcheck@%i.service
After=aggregate-healthcheck@%i.service

[Service]
RemainAfterExit=yes
ExecStart=/bin/sh -c "\
  export SERVICE=$(echo %p | sed 's/-sidekick//g'); \
  etcdctl mkdir /ft/services/$SERVICE/servers; \
  etcdctl set /ft/services/$SERVICE/path-regex/public '^/__health$' ; \
  etcdctl set /ft/services/$SERVICE/path-regex/public-gtg '^/__gtg$' ; \
  etcdctl set /ft/healthcheck-categories/read/period_seconds 4; \
  etcdctl set /ft/healthcheck-categories/read/is_resilient true; \
  etcdctl set /ft/healthcheck-categories/system/period_seconds 60; \
  etcdctl set /ft/healthcheck-categories/system/is_resilient false; \
  while [ -z $PORT ]; do \
    sleep 5; \
    PORT=`echo $(/usr/bin/docker port $SERVICE-%i 8080 | cut -d':' -f2)`; \
  done; \
  etcdctl set /ft/services/$SERVICE/servers/%i http://%H:$PORT;"

ExecStop=/usr/bin/etcdctl rm /vulcand/backends/aggregate-healthcheck/servers/%i
Restart=on-failure
RestartSec=60

[X-Fleet]
MachineOf=aggregate-healthcheck@%i.service
