[Unit]
Description=Aggregate Concept Transformer
After=vulcan.service
Requires=docker.service
Wants=aggregate-concept-transformer-sidekick@%i.service

[Service]
Environment="DOCKER_APP_VERSION=latest"
Environment="APP_PORT=8080"
TimeoutStartSec=0
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill "$(docker ps -q --filter=name=^/%p-%i_)" > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm "$(docker ps -q --filter=name=^/%p-%i_)" > /dev/null 2>&1'
ExecStartPre=/bin/bash -c '/usr/bin/docker history coco/aggregate-concept-transformer:$DOCKER_APP_VERSION > /dev/null 2>&1 \
  || /usr/bin/docker pull coco/aggregate-concept-transformer:$DOCKER_APP_VERSION'

ExecStart=/bin/sh -c '\
    export ENV=$(/usr/bin/etcdctl get /ft/config/environment_tag); \
    export AWS_REGION=$(/usr/bin/etcdctl get /ft/config/aws_region); \
    export AWS_ACCESS_KEY_ID=$(/usr/bin/etcdctl get /ft/_credentials/aws/aws_access_key_id); \
    export AWS_SECRET_ACCESS_KEY=$(/usr/bin/etcdctl get /ft/_credentials/aws/aws_secret_access_key); \
    export BUCKET_NAME=$(/usr/bin/etcdctl get /ft/config/aggregate-concept-transformer/bucket); \
    export VULCAN_ADDR=http://%H:8080/; \
    export QUEUE_URL=$(/usr/bin/etcdctl get /ft/config/aggregate-concept-transformer/queue_url); \
    export MAX_MESSAGES=10; \
    export VISIBILITY_TIMEOUT=30; \
    export WAIT_TIME=20; \
    /usr/bin/docker run --rm -P --name %p-%i_$(uuidgen) \
        --memory="512m" \
        -e "APP_PORT=$APP_PORT" \
	    -e "AWS_REGION=$AWS_REGION" \
	    -e "AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID" \
	    -e "AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY" \
	    -e "BUCKET_NAME=$BUCKET_NAME" \
        -e "VULCAN_ADDR=$VULCAN_ADDR" \
        -e "QUEUE_URL=$QUEUE_URL" \
        -e "MAX_MESSAGES=$MAX_MESSAGES" \
        -e "VISIBILITY_TIMEOUT=$VISIBILITY_TIMEOUT" \
        -e "WAIT_TIME=$WAIT_TIME" \
	coco/aggregate-concept-transformer:$DOCKER_APP_VERSION;'

ExecStop=-/bin/bash -c 'docker stop -t 3 "$(docker ps -q --filter=name=^/%p-%i_)"'
Restart=on-failure
RestartSec=60

[X-Fleet]
Conflicts=aggregate-concept-transformer@*.service