[Unit]
Description=Aggregate Concept Transformer
After=vulcan.service
Requires=docker.service
Wants=aggregate-concept-transformer-sidekick@%i.service

[Service]
Environment="DOCKER_APP_VERSION=latest"
Environment="PORT=8080"
TimeoutStartSec=0
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill "$(docker ps -q --filter=name=^/%p-%i_)" > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm "$(docker ps -q --filter=name=^/%p-%i_)" > /dev/null 2>&1'
ExecStartPre=/bin/bash -c '/usr/bin/docker history coco/aggregate-concept-transformer:$DOCKER_APP_VERSION > /dev/null 2>&1 \
  || /usr/bin/docker pull coco/aggregate-concept-transformer:$DOCKER_APP_VERSION'

ExecStart=/bin/sh -c '\
    export ENV=$(/usr/bin/etcdctl get /ft/config/environment_tag); \
    /usr/bin/docker run --rm --name %p-%i_$(uuidgen) -p $PORT \
      --memory="512m" \
	  -e "SQS_REGION=$(/usr/bin/etcdctl get /ft/config/aws_region)" \
	  -e "BUCKET_REGION=$(/usr/bin/etcdctl get /ft/config/aggregate-concept-transformer/bucket_region)" \
	  -e "AWS_ACCESS_KEY_ID=$(/usr/bin/etcdctl get /ft/_credentials/aws/aws_access_key_id)" \
	  -e "AWS_SECRET_ACCESS_KEY=$(/usr/bin/etcdctl get /ft/_credentials/aws/aws_secret_access_key)" \
	  -e "BUCKET_NAME=$(/usr/bin/etcdctl get /ft/config/aggregate-concept-transformer/bucket)" \
      -e "NEO_WRITER_ADDRESS=http://%H:8080/__concepts-rw-neo4j" \
      -e "ES_WRITER_ADDRESS=http://%H:8080/__concept-rw-elasticsearch/bulk" \
      -e "DYNAMODB_TABLE=$(/usr/bin/etcdctl get /ft/config/aggregate-concept-transformer/dynamodb_table)" \
      -e "QUEUE_URL=$(/usr/bin/etcdctl get /ft/config/aggregate-concept-transformer/queue_url)" \
      -e "KINESIS_STREAM_NAME=$(/usr/bin/etcdctl get /ft/config/aggregate-concept-transformer/kinesis_stream_name)" \
      -e "LOG_LEVEL=$(/usr/bin/etcdctl get /ft/config/aggregate-concept-transformer/log_level)" \
      -e "MAX_MESSAGES=10" \
      -e "VISIBILITY_TIMEOUT=30" \
      -e "WAIT_TIME=20" \
	coco/aggregate-concept-transformer:$DOCKER_APP_VERSION;'

ExecStop=-/bin/bash -c 'docker stop -t 3 "$(docker ps -q --filter=name=^/%p-%i_)"'
Restart=on-failure
RestartSec=60

[X-Fleet]
Conflicts=aggregate-concept-transformer@*.service
