[Unit]
Description=Aggregate Healthcheck Sidekick
BindsTo=aggregate-healthcheck@%i.service
After=aggregate-healthcheck@%i.service

[Service]
ExecStartPre=/bin/sh -c "\
  etcdctl set /vulcand/backends/aggregate-healthcheck/backend '{\"Type\": \"http\"}'; \
  etcdctl set /vulcand/frontends/aggregate-healthcheck/frontend '{\"Type\": \"http\", \"BackendId\": \"aggregate-healthcheck\", \"Route\": \"Host(`aggregate-healthcheck`)\"}'; \
  etcdctl set /vulcand/frontends/aggregate-healthcheck-public/frontend '{\"Type\":\"http\", \"BackendId\":\"aggregate-healthcheck\", \"Route\":\"Path(`/__health`)\"}'; \
  etcdctl set /vulcand/frontends/aggregate-healthcheck-public-gtg/frontend '{\"Type\":\"http\", \"BackendId\":\"aggregate-healthcheck\", \"Route\":\"Path(`/__gtg`)\"}'; \
  etcdctl set /ft/healthcheck-categories/read/period_seconds 4; \
  etcdctl set /ft/healthcheck-categories/read/is_resilient true; \
  etcdctl set /ft/healthcheck-categories/system/period_seconds 60; \
  etcdctl set /ft/healthcheck-categories/system/is_resilient false"
ExecStart=/bin/sh -c "\
  while true; do \
    PORT=`[ $PORT ] && echo $PORT || echo $(/usr/bin/docker port aggregate-healthcheck-%i 8080 | cut -d':' -f2)`; \
    etcdctl set /vulcand/backends/aggregate-healthcheck/servers/srv%i \"{\\\"url\\\": \\\"http://$HOSTNAME:$PORT\\\"}\" --ttl 600; \
    sleep 120; \
  done"
ExecStop=/usr/bin/etcdctl rm --recursive /vulcand/backends/aggregate-healthcheck/servers/srv%i
Restart=on-failure
RestartSec=60

[X-Fleet]
MachineOf=aggregate-healthcheck@%i.service
