[Unit]
Description=Annotations Publish Healthchecker
After=vulcan.service
Requires=docker.service
Wants=annotations-publish-healthchecker-sidekick@%i.service

[Service]
Environment="DOCKER_APP_VERSION=latest"
TimeoutStartSec=0
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill "$(docker ps -q --filter=name=^/%p-%i_)" > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm "$(docker ps -q --filter=name=^/%p-%i_)" > /dev/null 2>&1'
ExecStartPre=/bin/bash -c 'docker history coco/annotations-publish-healthchecker:$DOCKER_APP_VERSION > /dev/null 2>&1 || docker pull coco/annotations-publish-healthchecker:$DOCKER_APP_VERSION'

ExecStart=/bin/sh -c '\
  /usr/bin/docker run --rm --name %p-%i_$(uuidgen) -p 8080 -p 8081 \
  --memory="512m" \
  --env "APP_PORT=8080" \
  --env "EVENT_READER_URL=http://%H:8080/__splunk-event-reader" \
  coco/annotations-publish-healthchecker:$DOCKER_APP_VERSION'

ExecStop=-/bin/bash -c 'docker stop -t 3 "$(docker ps -q --filter=name=^/%p-%i_)"'
Restart=on-failure
RestartSec=60

[X-Fleet]
Conflicts=%p@*.service
