[Unit]
Description=api policy component
BindsTo=api-policy-component@%i.service
After=api-policy-component@%i.service

[Service]
ExecStart=/bin/sh -c "\
  etcdctl set /ft/services/api-policy-component/healthcheck true; \
  etcdctl mkdir /ft/services/api-policy-component/servers; \
  etcdctl set /ft/healthcheck/api-policy-component-%i /__health; \
  while true; do \
    PORT=$(/usr/bin/docker port api-policy-component-%i 8080 | cut -d':' -f2); \
    etcdctl set /ft/services/api-policy-component/servers/%i "http://$HOSTNAME:$PORT" --ttl 600; \
    sleep 120; \
  done"

ExecStop=/usr/bin/etcdctl rm /ft/services/api-policy-component/servers/%i

[X-Fleet]
MachineOf=api-policy-component@%i.service
