[Unit]
Description=api policy component
BindsTo=api-policy-component@%i.service
After=api-policy-component@%i.service

[Service]
ExecStart=/bin/sh -c "\
  etcdctl set /ft/services/api-policy-component/healthcheck true; \
  etcdctl mkdir /ft/services/api-policy-component/servers; \
  etcdctl set /ft/healthcheck/api-policy-component-%i/path /__health; \
  etcdctl set /ft/healthcheck/api-policy-component-%i/categories default,read; \
  while true; do \
    curl -s -H \"Accept: application/json\" 0.0.0.0:$PORT/__health | jq .checks[].ok | grep -q false || etcdctl set /ft/services/api-policy-component/servers/%i "http://%H:$PORT" --ttl 5; \
    sleep 4; \
  done"

ExecStop=/usr/bin/etcdctl rm /ft/services/api-policy-component/servers/%i

[X-Fleet]
MachineOf=api-policy-component@%i.service
