[Unit]
Description=Binary Ingester Sidekick
BindsTo=binary-ingester@%i.service
After=binary-ingester@%i.service

[Service]
ExecStart=/bin/sh -c "\
  export HOST_IP=$HOSTNAME; \
  etcdctl set /vulcand/backends/binary-ingester/backend '{\"Type\": \"http\"}'; \
  etcdctl set /vulcand/backends/binary-ingester-%i/backend '{\"Type\": \"http\"}'; \
  etcdctl set /vulcand/backends/binary-ingester-admin/backend '{\"Type\": \"http\"}'; \
  etcdctl set /vulcand/frontends/binary-ingester/frontend '{\"Type\": \"http\", \"BackendId\": \"binary-ingester\", \"Route\": \"Host(`binary-ingester`)\"}'; \
  etcdctl set /vulcand/frontends/binary-ingester-admin/frontend '{\"Type\": \"http\", \"BackendId\": \"binary-ingester-admin\", \"Route\": \"Host(`binary-ingester-admin`)\"}'; \
  \
  etcdctl set /vulcand/frontends/binary-ingester-health-%i/frontend \"{\\\"Type\\\":\\\"http\\\", \\\"BackendId\\\":\\\"binary-ingester-%i\\\", \\\"Route\\\":\\\"Path(\`/health/binary-ingester-%i/__health\`)\\\"}\"; \
  etcdctl set /vulcand/frontends/binary-ingester-health-%i/middlewares/rewrite \"{\\\"Id\\\":\\\"rewrite\\\", \\\"Type\\\":\\\"rewrite\\\", \\\"Priority\\\":1, \\\"Middleware\\\": {\\\"Regexp\\\":\\\"/health/binary-ingester-%i(.*)\\\", \\\"Replacement\\\":\\\"\$1\\\"}}\"; \
  etcdctl set /ft/healthcheck/binary-ingester-%i/path /__health; \
  etcdctl set /ft/healthcheck/binary-ingester-%i/categories default; \
  \
  while true; do \
    export PORT=$(echo $(/usr/bin/docker port binary-ingester-%i 8080) | cut -d':' -f2); \
    export ADMIN_PORT=$(echo $(/usr/bin/docker port binary-ingester-%i 8081) | cut -d':' -f2); \
    etcdctl set /services/binary-ingester/%i/host '%H' --ttl 600; \
    etcdctl set /services/binary-ingester/%i/app_port $PORT --ttl 600; \
    etcdctl set /services/binary-ingester/%i/admin_port $ADMIN_PORT --ttl 600; \
    etcdctl set /vulcand/backends/binary-ingester/servers/srv%i \"{\\\"url\\\": \\\"http://$HOST_IP:$PORT\\\"}\" --ttl 600; \
    etcdctl set /vulcand/backends/binary-ingester-%i/servers/srv%i \"{\\\"url\\\": \\\"http://$HOST_IP:$PORT\\\"}\" --ttl 600; \
    etcdctl set /vulcand/backends/binary-ingester-admin/servers/srv%i \"{\\\"url\\\": \\\"http://$HOST_IP:$ADMIN_PORT\\\"}\" --ttl 600; \
    sleep 120; \
  done"
ExecStop=/usr/bin/etcdctl rm --recursive /services/binary-ingester/%i
ExecStop=/usr/bin/etcdctl rm /vulcand/backends/binary-ingester/servers/srv%i
ExecStop=/usr/bin/etcdctl rm /vulcand/backends/binary-ingester-admin/servers/srv%i
Restart=on-failure
RestartSec=60

[X-Fleet]
MachineOf=binary-ingester@%i.service

