[Unit]
Description=Binary Writer
After=vulcan.service
Requires=docker.service
Wants=binary-writer-sidekick@%i.service

[Service]
Environment="DOCKER_APP_VERSION=latest"
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=/bin/bash -c 'docker history up-registry.ft.com/coco/binary-writer:$DOCKER_APP_VERSION > /dev/null 2>&1 \
  || docker pull up-registry.ft.com/coco/binary-writer:$DOCKER_APP_VERSION'

ExecStart=/bin/sh -c '\
  export APP_PORT=8080; \
  export ADMIN_PORT=8080; \
  export KAFKA_HOST=$(/usr/bin/etcdctl get /ft/config/kafka/ip); \
  export KAFKA_PORT=$(/usr/bin/etcdctl get /ft/config/kafka/port); \
  export S3_ACCESSKEY=$(/usr/bin/etcdctl get /ft/_credentials/aws/aws_access_key_id); \
  export S3_SECRETKEY=$(/usr/bin/etcdctl get /ft/_credentials/aws/aws_secret_access_key); \
  export BUCKET=$(/usr/bin/etcdctl get /ft/config/binary-writer/bucket); \
  /usr/bin/docker run --rm --name %p-%i_$(uuidgen) -p 8080 -p 8081 \
  --env "KAFKA_HOST=$KAFKA_HOST" \
  --env "KAFKA_PORT=$KAFKA_PORT" \
  --env "BUCKET_PATH=$BUCKET" \
  --env "S3_ACCESSKEY=$S3_ACCESSKEY" \
  --env "S3_SECRETKEY=$S3_SECRETKEY" \
  --env "FAKE_SERVICE=false" \
  up-registry.ft.com/coco/binary-writer:$DOCKER_APP_VERSION'

ExecStop=-/bin/bash -c 'docker stop -t 3 "$(docker ps -q --filter=name=%p-%i_)"'
Restart=on-failure
RestartSec=60

[X-Fleet]
Conflicts=%p@*.service
