[Unit]
Description=Binary Ingester
After=vulcan.service kafka.service
Requires=docker.service
Wants=binary-ingester-sidekick@%i.service

[Service]
Environment="DOCKER_APP_VERSION=latest"
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none
MemoryLimit=1G
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=/bin/bash -c 'docker history up-registry.ft.com/coco/binary-ingester:$DOCKER_APP_VERSION > /dev/null 2>&1 \
  || docker pull up-registry.ft.com/coco/binary-ingester:$DOCKER_APP_VERSION'

ExecStart=/bin/sh -c '\
  export KAFKA_PROXY=http://$HOSTNAME:8080; \
  export QUEUE=kafka; \
  export BACKOFF_PERIOD=8000; \
  export JAVA_OPTS="-Xms296m -Xmx296m -XX:+UseG1GC -server"; \
  /usr/bin/docker run --rm --name %p-%i_$(uuidgen) -p 8080 -p 8081 \
  --env "JAVA_OPTS=$JAVA_OPTS" \
  --env "WRITER_ENDPOINT=$HOSTNAME:8080:8080" \
  --env "KAFKA_PROXY=$KAFKA_PROXY" \
  --env "QUEUE=$QUEUE" \
  --env "BACKOFF_PERIOD=$BACKOFF_PERIOD" \
  --env "TRANSFORMER_PROXY=$HOSTNAME:8080" \
  up-registry.ft.com/coco/binary-ingester:$DOCKER_APP_VERSION'

ExecStop=-/bin/bash -c 'docker stop -t 3 "$(docker ps -q --filter=name=%p-%i_)"'
Restart=on-failure
RestartSec=60

[X-Fleet]
Conflicts=%p@*.service

