[Unit]
Description=Google Container Advisor DNS sidekick
Requires=docker.socket
After=docker.socket
After=cadvisor.service

[Service]
ExecStart=/bin/sh -c "\
  export HOST_IP=$HOSTNAME; \
  export HOST_NAME=$(echo $HOSTNAME | cut -d '.' -f1); \
  while true; do \
    etcdctl set /skydns/local/skydns/cadvisor/$HOST_NAME \"{\\\"host\\\":\\\"$HOST_IP\\\",\\\"port\\\":8081}\" --ttl 60; \
    sleep 45; \
  done"
ExecStop=/usr/bin/etcdctl rm /skydns/local/skydns/cadvisor/$HOST_NAME
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
