[Unit]
Description=CMS Notifier
After=vulcan.service
Requires=docker.service
Wants=cms-notifier-sidekick@%i.service

[Service]
Environment="DOCKER_APP_VERSION=latest"
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=/bin/bash -c 'docker history up-registry.ft.com/coco/cms-notifier:$DOCKER_APP_VERSION > /dev/null 2>&1 \
  || docker pull up-registry.ft.com/coco/cms-notifier:$DOCKER_APP_VERSION'

ExecStart=/bin/sh -c '\
  export KAFKA_HOST=$(/usr/bin/etcdctl get /ft/config/kafka/ip); \
  export KAFKA_PORT=$(/usr/bin/etcdctl get /ft/config/kafka/port); \
  export KAFKA_TOPIC=NativeCmsPublicationEvents; \
  export RESPECT_EXISTING_TIMESTAMP=true; \
  export JAVA_OPTS="-Xms128m -Xmx128m -XX:+UseG1GC -server"; \
  /usr/bin/docker run --rm --name %p-%i_$(uuidgen) -p 8080 -p 8081 \
  --env "KAFKA_HOST=$KAFKA_HOST" \
  --env "KAFKA_PORT=$KAFKA_PORT" \
  --env "KAFKA_TOPIC=$KAFKA_TOPIC" \
  --env "RESPECT_EXISTING_TIMESTAMP=$RESPECT_EXISTING_TIMESTAMP" \
  --env "JAVA_OPTS=$JAVA_OPTS" \
  up-registry.ft.com/coco/cms-notifier:$DOCKER_APP_VERSION'

ExecStop=-/bin/bash -c 'docker stop -t 3 "$(docker ps -q --filter=name=%p-%i_)"'
Restart=on-failure
RestartSec=60

[X-Fleet]
Conflicts=%p@*.service
