[Unit]
Description=CMS Notifier
After=vulcan.service
Requires=docker.service
Wants=cms-notifier-sidekick@%i.service

[Service]
Environment="DOCKER_APP_VERSION=latest"
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill %p-%i > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm %p-%i > /dev/null 2>&1'
ExecStartPre=/bin/bash -c 'docker pull up-registry.ft.com/coco/cms-notifier:$DOCKER_APP_VERSION'

ExecStart=/bin/sh -c '\
  export APP_PORT=8080; \
  export ADMIN_PORT=8081; \
  export KAFKA_HOST=$(/usr/bin/etcdctl get /ft/config/kafka/ip); \
  export KAFKA_PORT=$(/usr/bin/etcdctl get /ft/config/kafka/port); \
  export KAFKA_TOPIC=NativeCmsPublicationEvents; \
  /usr/bin/docker run --rm --name %p-%i -p 8080 -p 8081 \
  --env "KAFKA_HOST=$KAFKA_HOST" \
  --env "KAFKA_PORT=$KAFKA_PORT" \
  --env "KAFKA_TOPIC=$KAFKA_TOPIC" \
  up-registry.ft.com/coco/cms-notifier:$DOCKER_APP_VERSION'
ExecStop=/usr/bin/docker stop -t 3 %p-%i
Restart=on-failure
RestartSec=60

[X-Fleet]
Conflicts=%p@*.service
