[Unit]
Description=CMS Notifier Sidekick
BindsTo=cms-notifier@%i.service
After=cms-notifier@%i.service

[Service]
ExecStart=/bin/sh -c "\
  etcdctl set /ft/services/cms-notifier/healthcheck true; \
  etcdctl mkdir /ft/services/cms-notifier/servers; \
  etcdctl set /ft/healthcheck/cms-notifier-%i/path /__health; \
  etcdctl set /ft/services/cms-notifier/auth true; \
  while true; do \
    PORT=`[ $PORT ] && echo $PORT || echo $(/usr/bin/docker port cms-notifier-%i 8080 | cut -d':' -f2)`; \
    etcdctl set /ft/services/cms-notifier/servers/%i http://$HOSTNAME:$PORT --ttl 600; \
    sleep 120; \
  done"
ExecStop=/usr/bin/etcdctl rm /ft/services/cms-notifier/servers/%i

[X-Fleet]
MachineOf=cms-notifier@%i.service
