[Unit]
Description=CMS Kafka Bridge Sidekick
BindsTo=cms-kafka-bridge@%i.service
After=cms-kafka-bridge@%i.service

[Service]
ExecStart=/bin/sh -c "\
  etcdctl set   /ft/services/cms-kafka-bridge/healthcheck     true; \
  etcdctl mkdir /ft/services/cms-kafka-bridge/servers; \
  etcdctl set /ft/healthcheck/cms-kafka-bridge-%i /__health; \
  while true; do \
    export CMS_KAFKA_BRIDGE_PORT=$(/usr/bin/docker port cms-kafka-bridge-%i 8080 | cut -d':' -f2); \
    etcdctl set /ft/services/cms-kafka-bridge/servers/%i "http://$HOSTNAME:$CMS_KAFKA_BRIDGE_PORT" --ttl 600; \
    sleep 120; \
  done"

ExecStop=/usr/bin/etcdctl rm /ft/services/cms-kafka-bridge/servers/%i
Restart=on-failure
RestartSec=60

[X-Fleet]
MachineOf=cms-kafka-bridge@%i.service


