[Unit]
Description=Concept Suggestion Api Service
After=vulcan.service
Requires=docker.service
Wants=concept-suggestion-api-sidekick@%i.service

[Service]
Environment="DOCKER_APP_VERSION=latest"
Environment="APP_PORT=8080"
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove work correctly.
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker login --username "$(/usr/bin/etcdctl get /ft/_credentials/nexus/docker_user)" \
--password "$(/usr/bin/etcdctl get /ft/_credentials/nexus/docker_pass)" nexus.in.ft.com:5000 > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=/bin/bash -c '/usr/bin/docker history nexus.in.ft.com:5000/coco/concept-suggestion-api:$DOCKER_APP_VERSION > /dev/null 2>&1 \
  || /usr/bin/docker pull nexus.in.ft.com:5000/coco/concept-suggestion-api:$DOCKER_APP_VERSION'

ExecStart=/bin/sh -c '\
  export CES_HOST="$(/usr/bin/etcdctl get /ft/config/ces/host)"; \
  export CES_CREDENTIALS="$(/usr/bin/etcdctl get /ft/_credentials/ces/auth)"; \
  export ENV=$(/usr/bin/etcdctl get /ft/config/environment_tag); \
  export JAVA_OPTS="-Xms256m -Xmx256m -XX:+UseG1GC -server"; \
  export WHITELIST="^http://(methode|wordpress)(-article)?(-transformer|-mapper)(-pr|-iw)?(-uk-.*)?\\.svc\\.ft\\.com(:\\d{2,5})?/(content)/[\\w-]+.*$"; \
  /usr/bin/docker run --rm --name %p-%i_$(uuidgen) -p $APP_PORT \
  --env "JAVA_OPTS=$JAVA_OPTS" \
  --env "CES_HOST=$CES_HOST" \
  --env "CES_CREDENTIALS=$CES_CREDENTIALS" \
  --env "CES_ENDPOINT=/worker/extract" \
  --env "CES_PING=/worker/admin/ping" \
  --env "KAFKA_ADDRESS=%H:8080" \
  --env "GRAPHITE_HOST=graphite.ft.com" \
  --env "GRAPHITE_PORT=2003" \
  --env "GRAPHITE_PREFIX=coco.services.$ENV.concept-suggestion-api.%i" \
  --env "WHITELIST=$WHITELIST" \
  nexus.in.ft.com:5000/coco/concept-suggestion-api:$DOCKER_APP_VERSION;'

ExecStop=-/bin/bash -c 'docker stop -t 3 "$(docker ps -q --filter=name=%p-%i_)"'
Restart=on-failure
RestartSec=60

[X-Fleet]
Conflicts=concept-suggestion-api@*.service
