[Unit]
Description=Concept Suggestions Kafka Bridge Sidekick
BindsTo=concept-suggestions-kafka-bridge@%i.service
After=concept-suggestions-kafka-bridge@%i.service

[Service]
ExecStart=/bin/sh -c "\
  etcdctl set   /ft/services/concept-suggestions-kafka-bridge/healthcheck     true; \
  etcdctl mkdir /ft/services/concept-suggestions-kafka-bridge/servers; \
  etcdctl set /ft/healthcheck/concept-suggestions-kafka-bridge-%i /__health; \
  while true; do \
    CONCEPT_KAFKA_BRIDGE_PORT=`[ $CONCEPT_KAFKA_BRIDGE_PORT ] && echo $CONCEPT_KAFKA_BRIDGE_PORT || echo $(/usr/bin/docker port concept-suggestions-kafka-bridge-%i 8080 | cut -d':' -f2)`; \
    etcdctl set /ft/services/concept-suggestions-kafka-bridge/servers/%i "http://$HOSTNAME:$CONCEPT_KAFKA_BRIDGE_PORT" --ttl 600; \
    sleep 120; \
  done"

ExecStop=/usr/bin/etcdctl rm /ft/services/concept-suggestions-kafka-bridge/servers/%i
Restart=on-failure
RestartSec=60

[X-Fleet]
MachineOf=concept-suggestions-kafka-bridge@%i.service

