[Unit]
Description=Service which ingests concepts from the queue
After=vulcan.service
Requires=docker.service
Wants=concept-ingester-red-sidekick@%i.service

[Service]
Environment="DOCKER_APP_VERSION=latest"
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove work correctly.
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill %p-%i > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm %p-%i > /dev/null 2>&1'
ExecStartPre=/bin/bash -c '/usr/bin/docker history coco/concept-ingester:$DOCKER_APP_VERSION > /dev/null 2>&1 || /usr/bin/docker pull coco/concept-ingester:$DOCKER_APP_VERSION'

ExecStart=/bin/sh -c '\
  export APP_PORT=8080; \
  export ENV=$(/usr/bin/etcdctl get /ft/config/environment_tag); \
  /usr/bin/docker run --rm --name %p \
  -p $APP_PORT \
  -e "APP_PORT=$APP_PORT" \
  -e "PROXY_ADDR=http://$HOSTNAME:8080" \
  -e "GROUP_ID=RedConcepts" \
  -e "TOPIC=Concept" \
  -e "SERVICES=people-rw-neo4j-red,organisations-rw-neo4j-red" \
  coco/concept-ingester:$DOCKER_APP_VERSION;'
ExecStop=/usr/bin/docker stop -t 3 %p
Restart=on-failure
RestartSec=60

[X-Fleet]
Conflicts=%p@*.service
