[Unit]
Description=content-collection-unfolder
After=vulcan.service
Requires=docker.service
Wants=content-collection-unfolder-sidekick@%i.service

[Service]
Environment="DOCKER_APP_VERSION=latest"
TimeoutStartSec=0
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill "$(docker ps -q --filter=name=^/%p-%i_)" > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm "$(docker ps -q --filter=name=^/%p-%i_)" > /dev/null 2>&1'
ExecStartPre=/bin/bash -c 'docker history coco/content-collection-unfolder:$DOCKER_APP_VERSION > /dev/null 2>&1 || docker pull coco/content-collection-unfolder:$DOCKER_APP_VERSION'

ExecStart=/bin/sh -c '\
  export APP_PORT=8080; \
  export KAFKA_HOST=$(/usr/bin/etcdctl get /ft/config/kafka/ip); \
  /usr/bin/docker run --rm --name %p-%i_$(uuidgen) -p 8080 \
  --env "UNFOLDING_WHITELIST=content-package" \
  --env "WRITER_URI=http://%H:8080/__content-collection-rw-neo4j/content-collection/" \
  --env "WRITER_HEALTH_URI=http://%H:8080/__content-collection-rw-neo4j/__health" \
  --env "CONTENT_RESOLVER_URI=http://%H:8080/__document-store-api/content/" \
  --env "CONTENT_RESOLVER_HEALTH_URI=http://%H:8080/__document-store-api/__health" \
  --env "CONTENT_COLLECTION_RELATIONS_URI=http://%H:8080/__relations-api/contentcollection/{uuid}/relations" \
  --env "Q_WRITE_TOPIC=PostPublicationEvents" \
  --env "Q_ADDR=http://%H:8080" \
  --env "Q_HOSTNAME=kafka" \
  coco/content-collection-unfolder:$DOCKER_APP_VERSION'

ExecStop=-/bin/bash -c 'docker stop -t 3 "$(docker ps -q --filter=name=^/%p-%i_)"'
Restart=on-failure
RestartSec=60

[X-Fleet]
Conflicts=%p@*.service
