[Unit]
Description=Content writer sesame
BindsTo=content-writer-sesame@%i.service
After=content-writer-sesame@%i.service

[Service]
ExecStart=/bin/sh -c "\
  etcdctl set /vulcand/backends/content-writer-sesame/backend '{\"Type\": \"http\"}'; \
  etcdctl set /vulcand/frontends/content-writer-sesame/frontend '{\"Type\": \"http\", \"BackendId\": \"content-writer-sesame\", \"Route\": \"PathRegexp(`/.*`) && Host(`content-writer-sesame`)\"}'; \
  etcdctl setdir /services/content-writer-sesame --ttl 60; \
  etcdctl setdir /vulcand/backends/content-writer-sesame/servers --ttl 60; \
  \
  etcdctl set /vulcand/frontends/content-writer-sesame-health/frontend \"{\\\"Type\\\":\\\"http\\\", \\\"BackendId\\\":\\\"content-writer-sesame\\\", \\\"Route\\\":\\\"Path(\`/health/content-writer-sesame/__health\`)\\\"}\"; \
  etcdctl set /vulcand/frontends/content-writer-sesame-health/middlewares/rewrite \"{\\\"Id\\\":\\\"rewrite\\\", \\\"Type\\\":\\\"rewrite\\\", \\\"Priority\\\":1, \\\"Middleware\\\": {\\\"Regexp\\\":\\\"/health/content-writer-sesame(.*)\\\", \\\"Replacement\\\":\\\"\$1\\\"}}\"; \
  while true; do \
    export CONTENT_WRITER_PORT=$(echo $(/usr/bin/docker port content-writer-sesame-%i 8080) | cut -d':' -f2); \
    etcdctl set /services/content-writer-sesame/%i/host '%H' --ttl 60; \
    etcdctl set /services/content-writer-sesame/%i/app_port $(echo $(/usr/bin/docker port content-writer-sesame-%i 8080) | cut -d':' -f2); \
    etcdctl set /services/content-writer-sesame/%i/admin_port $(echo $(/usr/bin/docker port content-writer-sesame-%i 8081) | cut -d':' -f2); \
    etcdctl set /services/content-writer-sesame/%i/healthcheck true; \
    etcdctl set /vulcand/backends/content-writer-sesame/servers/srv%i \"{\\\"url\\\": \\\"http://$HOSTNAME:$CONTENT_WRITER_PORT\\\"}\"; \
    sleep 45; \
  done"
ExecStop=/usr/bin/etcdctl rm --recursive /services/content-writer-sesame/%i
ExecStop=/usr/bin/etcdctl rm --recursive /vulcand/backends/content-writer-sesame/servers/srv%i

[X-Fleet]
MachineOf=content-writer-sesame@%i.service
