[Unit]
Description=Content Preview
After=vulcan.service
Requires=docker.service
Wants=content-preview-sidekick@%i.service

[Service]
Environment="DOCKER_APP_VERSION=latest"
Environment="SOURCE_APP_NAME=methode-api"
Environment="TRANSFORM_APP_NAME=methode-article-mapper"
Environment="SOURCE_APP_PANIC_GUIDE=https://dewey.ft.com/up-mapi.html"
Environment="TRANSFORM_APP_PANIC_GUIDE=https://dewey.ft.com/up-mam.html"
Environment="BUSINESS_IMPACT=Editorial users won't be able to preview articles"
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=/bin/bash -c '/usr/bin/docker history coco/content-preview:$DOCKER_APP_VERSION > /dev/null 2>&1 \
  || docker pull coco/content-preview:$DOCKER_APP_VERSION'


ExecStart=/bin/sh -c '\
    export MAPI_AUTH=$(/usr/bin/etcdctl get /ft/_credentials/methode-api/authorization_key); \
    export ENV=$(/usr/bin/etcdctl get /ft/config/environment_tag); \
    export METHODE_API=$(/usr/bin/etcdctl get /ft/config/methode-api); \
    /usr/bin/docker run --rm --name %p-%i_$(uuidgen) -p 8080 -p 8081 \
	--memory="256m" \
    --env "APP_SYSTEM_CODE=content-preview" \
    --env "APP_NAME=Content Preview" \
    --env "APP_PORT=8080" \
    --env "SOURCE_APP_AUTH=$MAPI_AUTH" \
    --env "SOURCE_APP_URI=$METHODE_API/eom-file/" \
    --env "TRANSFORM_APP_URI=http://$HOSTNAME:8080/__methode-article-mapper/map" \
    --env "SOURCE_APP_HEALTH_URI=$METHODE_API/build-info" \
    --env "TRANSFORM_APP_HEALTH_URI=http://$HOSTNAME:8080/__methode-article-mapper/__health" \
    --env "SOURCE_APP_NAME=$SOURCE_APP_NAME" \
    --env "TRANSFORM_APP_NAME=$TRANSFORM_APP_NAME" \
    --env "SOURCE_APP_PANIC_GUIDE=$SOURCE_APP_PANIC_GUIDE" \
    --env "TRANSFORM_APP_PANIC_GUIDE=$TRANSFORM_APP_PANIC_GUIDE" \
    --env "BUSINESS_IMPACT=$BUSINESS_IMPACT" \
    --env "GRAPHITE_TCP_ADDRESS=graphite.ft.com:2003" \
    --env "GRAPHITE_PREFIX=coco.services.$ENV.content-preview.%i" \
    coco/content-preview:$DOCKER_APP_VERSION;'
ExecStop=-/bin/bash -c '/usr/bin/docker stop -t 3 "$(docker ps -q --filter=name=%p-%i_)"'
Restart=on-failure
RestartSec=60

[X-Fleet]
Conflicts=content-preview@*.service
