[Unit]
Description=Content Reader-Writer for Neo4j Service Sidekick
BindsTo=content-rw-neo4j@%i.service
After=content-rw-neo4j@%i.service

[Service]
ExecStart=/bin/sh -c "\
  etcdctl set   /ft/services/content-rw-neo4j/healthcheck     true; \
  etcdctl mkdir /ft/services/content-rw-neo4j-%i/servers; \
  etcdctl set /ft/healthcheck/content-rw-neo4j-%i/path /__health; \
  while true; do \
    CONTENT_RW_PORT=`[ $CONTENT_RW_PORT ] && echo $CONTENT_RW_PORT || echo $(/usr/bin/docker port content-rw-neo4j-%i 8080 | cut -d':' -f2)`; \
    etcdctl set /ft/services/content-rw-neo4j/servers/%i "http://$HOSTNAME:$CONTENT_RW_PORT" --ttl 600; \
    sleep 120; \
  done"

ExecStop=/usr/bin/etcdctl rm /ft/services/content-rw-neo4j/servers/%i
Restart=on-failure
RestartSec=60

[X-Fleet]
MachineOf=content-rw-neo4j@%i.service
