[Unit]
Description=Content Preview
After=docker.service
Requires=docker.service
Wants=content-preview-sidekick@%i.service

[Service]
Environment="DOCKER_APP_VERSION=latest"
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill %p-%i > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm %p-%i > /dev/null 2>&1'
ExecStartPre=/bin/bash -c 'docker pull coco/content-preview:$DOCKER_APP_VERSION'


ExecStart=/bin/sh -c "\
    export MAPI_AUTH=$(/usr/bin/etcdctl get /ft/_credentials/methode-api/authorization_key); \
    export ENV=$(/usr/bin/etcdctl get /ft/config/environment_tag); \
    /usr/bin/docker run --rm --name %p-%i -p 8080 -p 8081 \
    --env "APP_PORT=8080" \
    --env "SOURCE_APP_AUTH=$MAPI_AUTH" \
    --env "SOURCE_APP_URI=https://methodeapi.glb.ft.com/eom-file/" \
    --env "TRANSFORM_APP_URI=http://$HOSTNAME:8080/content-transform/" \
    --env "TRANSFORM_APP_HOST_HEADER=methode-article-transformer" \
    --env "SOURCE_APP_HEALTH_URI=https://methodeapi.glb.ft.com/build-info" \
    --env "TRANSFORM_APP_HEALTH_URI=http://$HOSTNAME:8080/__health" \
    --env "SOURCE_APP_NAME=methode-api" \
    --env "TRANSFORM_APP_NAME=methode-article-transformer" \
    --env "GRAPHITE_TCP_ADDRESS=graphite.ft.com:2003" \
    --env "GRAPHITE_PREFIX=coco.services.$ENV.content-preview.%i" \
    --env "SOURCE_APP_PANIC_GUIDE=https://sites.google.com/a/ft.com/dynamic-publishing-team/home/methode-api" \
    --env "TRANSFORM_APP_PANIC_GUIDE=https://sites.google.com/a/ft.com/dynamic-publishing-team/methode-article-transformer-panic-guide" \
    coco/content-preview:$DOCKER_APP_VERSION;"
ExecStop=/usr/bin/docker stop -t 3 %p-%i
Restart=on-failure
RestartSec=60

[X-Fleet]
Conflicts=content-preview@*.service