[Unit]
Description=Content Public Read sidekick
BindsTo=content-preview@%i.service
After=content-preview@%i.service

[Service]
ExecStart=/bin/sh -c "\
  etcdctl set /ft/services/content-preview/healthcheck true; \
  etcdctl mkdir /ft/services/content-preview/servers; \
  etcdctl set /ft/healthcheck/content-preview-%i/path /__health; \
  etcdctl set /ft/healthcheck/content-preview-%i/categories read; \
  while true; do \
      export PORT=$(echo $(/usr/bin/docker port content-preview-%i 8080) | cut -d':' -f2); \
      ((`curl -s -o /dev/null -w \"%{http_code}\" \"0.0.0.0:$PORT/__ping\"` == 200)) && etcdctl set /ft/services/document-store-api/servers/%i http://%H:$PORT --ttl 32; \
      sleep 30; \
    done"
ExecStop=/usr/bin/etcdctl rm /ft/services/content-preview/servers/%i

[X-Fleet]
MachineOf=content-preview@%i.service