[Unit]
Description=Content Exporter
After=vulcan.service
Requires=docker.service
Wants=content-exporter-sidekick@%i.service

[Service]
Environment="DOCKER_APP_VERSION=latest"
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none
ExecStartPre=-/bin/bash -c 'docker kill "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c 'docker rm "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=/bin/bash -c 'docker history coco/content-exporter:$DOCKER_APP_VERSION > /dev/null 2>&1 \
  || docker pull coco/content-exporter:$DOCKER_APP_VERSION'

ExecStart=/bin/bash -c '\
    IS_INC_EXPORT_ENABLED=$(/usr/bin/etcdctl get /ft/config/content-exporter/is-enabled) || IS_INC_EXPORT_ENABLED=false; \
	docker run --rm --name %p-%i_$(uuidgen) -p 8080 \
	--memory="256m" \
	--env "DELAY_FOR_NOTIFICATION=0" \
	--env "ENRICHED_CONTENT_BASE_URL=http://%H:80" \
	--env "ENRICHED_CONTENT_HEALTH_URL=http://%H:80/__api-policy-component/__gtg" \
	--env "S3_WRITER_BASE_URL=http://%H:8080/__content-rw-s3" \
	--env "S3_WRITER_HEALTH_URL=http://%H:8080/__content-rw-s3/__gtg" \
	--env "AUTHORIZATION=$(/usr/bin/etcdctl get /ft/_credentials/content-exporter/authorization)" \
	--env "MONGO_CONNECTION=$(for x in $(etcdctl ls /ft/config/mongodb);do echo -n $(etcdctl get $x/host):$(etcdctl get $x/port)\",\" ; done | sed s/.$//)" \
	--env "KAFKA_ADDRS=$(/usr/bin/etcdctl get /ft/config/zookeeper/ip):$(/usr/bin/etcdctl get /ft/config/zookeeper/port)" \
	--env "GROUP_ID=$(/usr/bin/etcdctl get /ft/config/environment_tag)-content-exporter" \
	--env "TOPIC=PostPublicationEvents" \
	--env "WHITELIST=^http://(methode|wordpress)-article-(transformer|mapper)(-pr|-iw)?(-uk-.*)?\\.svc\\.ft\\.com(:\\d{2,5})?/(content)/[\\w-]+.*$" \
	--env "IS_INC_EXPORT_ENABLED=$IS_INC_EXPORT_ENABLED" \
	coco/content-exporter:$DOCKER_APP_VERSION'

ExecStop=-/bin/bash -c 'docker stop -t 30 "$(docker ps -q --filter=name=%p-%i_)"'
Restart=on-failure
RestartSec=60

[X-Fleet]
Conflicts=content-exporter@*.service
MachineOf=varnish@%i.service