[Unit]
Description=Content Ingester Sidekick
BindsTo=content-ingester@%i.service
After=content-ingester@%i.service

[Service]
ExecStart=/bin/sh -c "\
  etcdctl set ft/services/content-ingester/healthcheck true; \
  etcdctl mkdir /ft/services/content-ingester/servers; \
  etcdctl set /ft/healthcheck/content-ingester-%i/path /__health; \
  etcdctl set /ft/healthcheck/content-ingester-%i/categories default; \
  while true; do \
    export PORT=$(echo $(/usr/bin/docker port content-ingester-%i 8080) | cut -d':' -f2); \
    etcdctl set /ft/services/content-ingester/servers/%i "http://$HOSTNAME:$PORT" --ttl 600; \
    sleep 120; \
  done"
ExecStop=/usr/bin/etcdctl rm /ft/services/content-ingester/servers/%i

[X-Fleet]
MachineOf=content-ingester@%i.service

