[Unit]
Description=Content Public Read sidekick
BindsTo=content-public-read-preview@%i.service
After=content-public-read-preview@%i.service

[Service]
ExecStart=/bin/sh -c "\
  etcdctl set /ft/services/content-public-read-preview/healthcheck true; \
  etcdctl mkdir /ft/services/content-public-read-preview/servers; \
  etcdctl set /ft/healthcheck/content-public-read-preview-%i /__health; \
  while true; do \
      export PORT=$(echo $(/usr/bin/docker port content-public-read-preview-%i 8080) | cut -d':' -f2); \
      etcdctl set /ft/services/content-public-read-preview/servers/%i "http://$HOSTNAME:$PORT" --ttl 600; \
      sleep 120; \
    done"
ExecStop=/usr/bin/etcdctl rm /ft/services/content-public-read-preview/servers/%i

[X-Fleet]
MachineOf=content-public-read-preview@%i.service
