[Unit]
Description=Content Writer Sesame
After=docker.service
Requires=docker.service
Wants=content-writer-sesame-sidekick@%i.service

[Service]
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill %p-%i > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm %p-%i > /dev/null 2>&1'
ExecStartPre=/usr/bin/docker pull up-registry.ft.com/coco/content-writer-sesame

ExecStart=/bin/sh -c '\
  export GRAPHDB_PATH=$(/usr/bin/etcdctl get /services/graphdb/path); \
  export GRAPHDB_URL=http://$HOSTNAME:8080$GRAPHDB_PATH \
  /usr/bin/docker run --rm --name %p-%i -p 8080 -p 8081 -e "RDF_REPOSITORY_PROXY=$GRAPHDB_URL" up-registry.ft.com/coco/content-writer-sesame'

ExecStop=/usr/bin/docker stop -t 3 %p-%i

[X-Fleet]
Conflicts=content-writer-sesame@*.service
