[Unit]
Description=Document store api sidekick
BindsTo=document-store-api@%i.service
After=document-store-api@%i.service

[Service]
ExecStart=/bin/sh -c "\
  etcdctl set   /ft/services/document-store-api/healthcheck     true; \
  etcdctl mkdir /ft/services/document-store-api/servers; \
  etcdctl set /ft/healthcheck/document-store-api-%i/path /__health; \
  etcdctl set /vulcand/frontends/public-services-content/frontend '{\"Type\": \"http\", \"BackendId\": \"vcb-document-store-api\", \"Route\": \"PathRegexp(`/content/[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$`) && Host(`public-services`)\"}'; \
  etcdctl set /vulcand/frontends/public-services-content/middlewares/rewrite '{\"Id\":\"rewrite\", \"Type\":\"rewrite\", \"Priority\":1, \"Middleware\": {\"Regexp\":\"/content/([a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12})\", \"Replacement\":\"/content-read/$1\"}}'; \
  etcdctl set /vulcand/frontends/public-services-lists/frontend '{\"Type\": \"http\", \"BackendId\": \"vcb-document-store-api\", \"Route\": \"PathRegexp(`/lists/.*`) && Host(`public-services`)\"}'; \
  while true; do \
    PORT=`[ $PORT ] && echo $PORT || echo $(/usr/bin/docker port document-store-api-%i 8080 | cut -d':' -f2)`; \
    curl -s -H \"Accept: application/json\" 0.0.0.0:$PORT/__health | jq -e '[.checks[].ok] | all' 2>&1>/dev/null && etcdctl set /ft/services/document-store-api/servers/%i http://%H:$PORT --ttl 5; \
    sleep 4; \
  done"

ExecStop=/usr/bin/etcdctl rm /ft/services/document-store-api/servers/%i

[X-Fleet]
MachineOf=document-store-api@%i.service

