[Unit]
Description=Document store api sidekick
BindsTo=document-store-api@%i.service
After=document-store-api@%i.service

[Service]
RemainAfterExit=yes
ExecStart=/bin/sh -c "\
  export SERVICE=$(echo %p | sed 's/-sidekick//g'); \
  etcdctl set   /ft/services/$SERVICE/healthcheck     true; \
  etcdctl mkdir /ft/services/$SERVICE/servers; \
  etcdctl set /ft/healthcheck/$SERVICE-%i/path /__health; \
  etcdctl set /ft/healthcheck/$SERVICE-%i/categories read; \
  etcdctl set /vulcand/frontends/public-services-lists/frontend '{\"Type\": \"http\", \"BackendId\": \"vcb-document-store-api\", \"Route\": \"PathRegexp(`/lists.*`) && Host(`public-services`)\"}'; \
  while [ -z $PORT ]; do \
    sleep 5; \
    CONTAINER_NAME=$(docker ps -q --filter=name=\"$SERVICE\"-%i_); \
    PORT=`echo $(/usr/bin/docker port $CONTAINER_NAME 8080 | cut -d':' -f2)`; \
  done; \
  etcdctl set /ft/services/$SERVICE/servers/%i http://%H:$PORT;"

ExecStop=-/bin/bash -c '/usr/bin/etcdctl rm /ft/services/document-store-api/servers/%i'
Restart=on-failure
RestartSec=60

[X-Fleet]
MachineOf=document-store-api@%i.service

