[Unit]
Description=Document store api sidekick
BindsTo=document-store-api@%i.service
After=document-store-api@%i.service

[Service]
ExecStart=/bin/sh -c "\
  etcdctl set   /ft/services/document-store-api/healthcheck     true; \
  etcdctl mkdir /ft/services/document-store-api/servers; \
  etcdctl set /ft/healthcheck/document-store-api-%i /__health; \
  etcdctl set /vulcand/frontends/public-services-content/frontend '{\"Type\": \"http\", \"BackendId\": \"vcb-document-store-api\", \"Route\": \"PathRegexp(`/content/[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}.*`) && Host(`public-services`)\"}'; \
  etcdctl set /vulcand/frontends/public-services-lists/frontend '{\"Type\": \"http\", \"BackendId\": \"vcb-document-store-api\", \"Route\": \"PathRegexp(`/lists/.*`) && Host(`public-services`)\"}'; \
  while true; do \
      PORT=$(/usr/bin/docker port document-store-api-%i 8080 | cut -d':' -f2); \
      etcdctl set /ft/services/document-store-api/servers/%i "http://$HOSTNAME:$PORT" --ttl 600; \
      sleep 120; \
    done"

ExecStop=/usr/bin/etcdctl rm /ft/services/document-store-api/servers/%i

[X-Fleet]
MachineOf=document-store-api@%i.service

