[Unit]
Description=Elasticsearch Sidekick
BindsTo=elasticsearch.service
After=elasticsearch.service

[Service]
ExecStart=/bin/sh -c "\
  export SERVICE=$(echo %p | sed 's/-sidekick//g'); \
  etcdctl mkdir /ft/services/$SERVICE/servers; \
  while [ -z $PORT ]; do \
    sleep 5; \
    PORT=`echo $(/usr/bin/docker port $SERVICE 8080 | cut -d':' -f2)`; \
  done; \
  etcdctl set /ft/services/elasticsearch/servers/s http://%H:$PORT;"
ExecStop=/usr/bin/etcdctl rm /ft/services/elasticsearch/servers/s
Restart=on-failure
RestartSec=60

[X-Fleet]
MachineOf=elasticsearch.service

