[Unit]
Description=Register notifications-push instances with the appropriate ELB
Requires=docker.service
After=docker.service

[Service]
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill %p > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm %p > /dev/null 2>&1'
ExecStart=/bin/sh -c '\
  AWS_ACCESS_KEY=$(/usr/bin/etcdctl get /ft/_credentials/aws/aws_access_key_id); \
  AWS_SECRET_KEY=$(/usr/bin/etcdctl get /ft/_credentials/aws/aws_secret_access_key); \
  ELB_NAME=$(etcdctl get /ft/_credentials/elb_name_notifications_push); \
  AWS_REGION=$(etcdctl get /ft/config/aws_region); \
  /usr/bin/docker run --rm --name %p -e AWS_ACCESS_KEY=$AWS_ACCESS_KEY -e AWS_SECRET_KEY=$AWS_SECRET_KEY -e AWS_REGION=$AWS_REGION -e ELB_NAME=$ELB_NAME quay.io/coreos/elb-presence'
ExecStop=/usr/bin/docker stop %p
Restart=on-failure
RestartSec=60

[X-Fleet]
MachineOf=notifications-push@%i.service
