[Unit]
Description=Enriched content read api sidekick
BindsTo=enriched-content-read-api@%i.service
After=enriched-content-read-api@%i.service

[Service]
RemainAfterExit=yes
ExecStart=/bin/sh -c "\
  export SERVICE=$(echo %p | sed 's/-sidekick//g'); \
  etcdctl set   /ft/services/$SERVICE/healthcheck     true; \
  etcdctl mkdir /ft/services/$SERVICE/servers; \
  etcdctl set   /ft/healthcheck/$SERVICE-%i/path /__health; \
  etcdctl set   /ft/healthcheck/$SERVICE-%i/categories read,enrichedcontent-read; \
  etcdctl set   /ft/services/$SERVICE/path-regex/public-services /enrichedcontent/[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$; \
  etcdctl set   /ft/services/$SERVICE/path-host/public-services public-services; \
  while [ -z $PORT ]; do \
      sleep 5; \
      CONTAINER_NAME=$(docker ps -q --filter=name=\"$SERVICE\"-%i_); \
      PORT=`echo $(/usr/bin/docker port $CONTAINER_NAME 8080 | cut -d':' -f2)`; \
    done; \
  etcdctl set /ft/services/$SERVICE/servers/%i http://%H:$PORT;"

ExecStop=-/bin/bash -c '/usr/bin/etcdctl rm /ft/services/enriched-content-read-api/servers/%i'

[X-Fleet]
MachineOf=enriched-content-read-api@%i.service
