[Unit]
Description=Enriched Content Read API Sidekick
BindsTo=enriched-content-read-api@%i.service
After=enriched-content-read-api@%i.service

[Service]
ExecStart=/bin/sh -c "\
  etcdctl set   /ft/services/enriched-content-read-api/healthcheck true; \
  etcdctl mkdir /ft/services/enriched-content-read-api/servers; \
  etcdctl set /ft/healthcheck/enriched-content-read-api-%i /__health; \
  etcdctl set /vulcand/frontends/public-services-enriched-content/frontend '{\"Type\": \"http\", \"BackendId\": \"vcb-enriched-content-read-api\", \"Route\": \"PathRegexp(`/enrichedContent/.*`) && Host(`public-services`)\"}'; \
  while true; do \
    export ENRICHED_CONTENT_READ_API_PORT=$(echo $(/usr/bin/docker port enriched-content-read-api-%i 8080) | cut -d':' -f2); \
    etcdctl set /services/enriched-content-read-api/%i/healthcheck /__health --ttl 60; \
    etcdctl set /vulcand/backends/enriched-content-read-api/servers/srv%i \"{\\\"url\\\": \\\"http://$HOSTNAME:$ENRICHED_CONTENT_READ_API_PORT\\\"}\"; \
    sleep 45; \
  done"
ExecStop=/usr/bin/etcdctl rm --recursive /services/enriched-content-read-api/%i
ExecStop=/usr/bin/etcdctl rm --recursive /vulcand/backends/enriched-content-read-api/servers/srv%i

[X-Fleet]
MachineOf=enriched-content-read-api@%i.service
