[Unit]
Description=Enriched Content Read API Sidekick
BindsTo=enriched-content-read-api@%i.service
After=enriched-content-read-api@%i.service

[Service]
ExecStart=/bin/sh -c "\
  etcdctl set   /ft/services/enriched-content-read-api/healthcheck true; \
  etcdctl mkdir /ft/services/enriched-content-read-api/servers; \
  etcdctl set /ft/healthcheck/enriched-content-read-api-%i /__health; \
    
  while true; do \
    PORT=$(/usr/bin/docker port enriched-content-read-api-%i 8080 | cut -d':' -f2); \
    etcdctl set /ft/services/enriched-content-read-api/servers/%i "http://$HOSTNAME:$PORT" --ttl 600; \
    sleep 120; \
  done"

ExecStop=/usr/bin/etcdctl rm --recursive /services/enriched-content-read-api/%i

[X-Fleet]
MachineOf=enriched-content-read-api@%i.service
