[Unit]
Description=Financial Instruments Reader-Writer for Blue Neo4j Service
After=vulcan.service
Requires=docker.service
Wants=financial-instruments-rw-neo4j-blue-sidekick@i.service

[Service]
Environment="DOCKER_APP_VERSION=latest"
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove work correctly.
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill %p-%i > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm %p-%i > /dev/null 2>&1'
ExecStartPre=/bin/bash -c '/usr/bin/docker history coco/financial-instruments-rw-neo4j:$DOCKER_APP_VERSION > /dev/null 2>&1 || /usr/bin/docker pull coco/financial-instruments-rw-neo4j:$DOCKER_APP_VERSION'

ExecStart=/bin/sh -c '\
  export APP_PORT=8080; \
  export ENV=$(/usr/bin/etcdctl get /ft/config/environment_tag); \
  /usr/bin/docker run --rm --name %p-%i -p $APP_PORT --env "NEO_URL=http://$HOSTNAME:8080/__neo4j-blue/db/data" --env "APP_PORT=$APP_PORT" --env "BATCH_SIZE=600" --env "GRAPHITE_ADDRESS=graphite.ft.com:2003" --env "GRAPHITE_PREFIX=coco.services.$ENV.financial-instruments-rw-neo4j-blue.%i" coco/financial-instruments-rw-neo4j:$DOCKER_APP_VERSION;'
ExecStop=/usr/bin/docker stop -t 3 %p-%i
Restart=on-failure
RestartSec=60

[X-Fleet]
Conflicts=financial-instruments-rw-neo4j-blue@*.service