[Unit]
Description=Fleet unit healthcheck sidekick
BindsTo=fleet-unit-healthcheck.service
After=fleet-unit-healthcheck.service

[Service]
RemainAfterExit=yes
ExecStart=/bin/sh -c "\
  export SERVICE=$(echo %p | sed 's/-sidekick//g'); \
  etcdctl set   /ft/services/$SERVICE/healthcheck     true; \
  etcdctl mkdir /ft/services/$SERVICE/servers; \
  etcdctl set /ft/healthcheck/$SERVICE/path /__health; \
  while [ -z $PORT ]; do \
    sleep 5; \
    CONTAINER_NAME=$(docker ps -q --filter=name=\"$SERVICE\"_); \
    PORT=`echo $(/usr/bin/docker port $CONTAINER_NAME 8080 | cut -d':' -f2)`; \
  done; \
  etcdctl set /ft/services/$SERVICE/servers/srv http://%H:$PORT;"

ExecStop=-/bin/bash -c 'etcdctl rm /ft/services/fleet-unit-healthcheck/servers/srv'

[X-Fleet]
MachineOf=fleet-unit-healthcheck.service
