[Unit]
Description=Fleet unit healthcheck monitoring service
Requires=docker.socket
After=docker.socket
Wants=fleet-unit-healthcheck-sidekick.service

[Service]
Environment="DOCKER_APP_VERSION=latest" 
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill %p > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm %p > /dev/null 2>&1'
ExecStartPre=/bin/bash -c "/usr/bin/docker pull coco/coco-fleet-unit-healthcheck:$DOCKER_APP_VERSION"
ExecStart=/bin/bash -c "/usr/bin/docker run --rm --name=%p -p 8080 --env=\"FLEET_ENDPOINT=http://$HOSTNAME:49153\" coco/coco-fleet-unit-healthcheck:$DOCKER_APP_VERSION"
ExecStopPost=-/usr/bin/docker rm -f %p
Restart=on-failure
RestartSec=60
