[Unit]
Description=Genres rw neo4j red Sidekick
BindsTo=genres-rw-neo4j-red@%i.service
After=genres-rw-neo4j-red@%i.service

[Service]
ExecStart=/bin/sh -c "\
  etcdctl set   /ft/services/genres-rw-neo4j-red/healthcheck true; \
  etcdctl mkdir /ft/services/genres-rw-neo4j-red/servers; \
  etcdctl set /ft/healthcheck/genres-rw-neo4j-red-%i/path /__health; \
  while true; do \
    PORT=`[ $PORT ] && echo $PORT || echo $(/usr/bin/docker port genres-rw-neo4j-red-%i 8080 | cut -d':' -f2)`; \
    etcdctl set /ft/services/genres-rw-neo4j-red/servers/%i "http://$HOSTNAME:$PORT" --ttl 600; \
    sleep 120; \
  done"

ExecStop=/usr/bin/etcdctl rm /ft/services/genres-rw-neo4j-red/servers/%i
Restart=on-failure
RestartSec=60

[X-Fleet]
MachineOf=genres-rw-neo4j-red@%i.service


