[Unit]
Description=Industry Classification Reader-Writer for blue Neo4j Service Sidekick
BindsTo=industry-classifications-rw-neo4j-blue@%i.service
After=industry-classifications-rw-neo4j-blue@%i.service

[Service]
RemainAfterExit=yes
ExecStart=/bin/sh -c "\
  export SERVICE=$(echo %p | sed 's/-sidekick//g'); \
  etcdctl set   /ft/services/$SERVICE/healthcheck     true; \
  etcdctl mkdir /ft/services/$SERVICE/servers; \
  etcdctl set /ft/healthcheck/$SERVICE-%i/path /__health; \
  while [ -z $PORT ]; do \
    PORT=`echo $(/usr/bin/docker port $SERVICE-%i 8080 | cut -d':' -f2)`; \
    echo 'Port not set, retrying'; \
    sleep 5; \
  done; \
  etcdctl set /ft/services/$SERVICE/servers/%i http://%H:$PORT;"

ExecStop=/usr/bin/etcdctl rm /ft/services/industry-classifications-rw-neo4j-blue/servers/%i
Restart=on-failure
RestartSec=60

[X-Fleet]
MachineOf=industry-classifications-rw-neo4j-blue@%i.service