[Unit]
Description=Industry Classification Reader-Writer for Red Neo4j Service
After=vulcan.service
Requires=docker.service
Wants=industry-classifications-rw-neo4j-red-sidekick@%i.service

[Service]
Environment="DOCKER_APP_VERSION=latest"
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove work correctly.
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=/bin/bash -c '/usr/bin/docker history coco/industry-classifications-rw-neo4j:$DOCKER_APP_VERSION > /dev/null 2>&1 || /usr/bin/docker pull coco/industry-classifications-rw-neo4j:$DOCKER_APP_VERSION'

ExecStart=/bin/sh -c '\
  export APP_PORT=8080; \
  export ENV=$(/usr/bin/etcdctl get /ft/config/environment_tag); \
  /usr/bin/docker run --rm --name %p-%i_$(uuidgen) -p $APP_PORT \
  --memory="32m" \
  --env "NEO_URL=http://$HOSTNAME:8080/__neo4j-red/db/data" \
  --env "APP_PORT=$APP_PORT" \
  --env "BATCH_SIZE=60" \
  --env "GRAPHITE_ADDRESS=graphite.ft.com:2003" \
  --env "GRAPHITE_PREFIX=coco.services.$ENV.industry-classifications-rw-neo4j-red.%i" \
  coco/industry-classifications-rw-neo4j:$DOCKER_APP_VERSION;'

ExecStop=-/bin/bash -c 'docker stop -t 3 "$(docker ps -q --filter=name=%p-%i_)"'
Restart=on-failure
RestartSec=60

[X-Fleet]
Conflicts=industry-classifications-rw-neo4j-red@*.service

