[Unit]
Description=Instance data ingester sidekick
BindsTo=instance-data-ingester@%i.service
After=instance-data-ingester@%i.service

[Service]
ExecStart=/bin/sh -c "\
  etcdctl set   /ft/services/instance-data-ingester/healthcheck     true; \
    etcdctl mkdir /ft/services/instance-data-ingester/servers; \
    etcdctl set /ft/healthcheck/instance-data-ingester-%i/path /__health; \
  while true; do \
      PORT=`[ $PORT ] && echo $PORT || echo $(/usr/bin/docker port instance-data-ingester-%i 8080 | cut -d':' -f2)`; \
      etcdctl set /ft/services/instance-data-ingester/servers/%i "http://$HOSTNAME:$PORT" --ttl 600; \
      sleep 120; \
    done"

ExecStop=/usr/bin/etcdctl rm /ft/services/instance-data-ingester/servers/%i

[X-Fleet]
MachineOf=instance-data-ingester@%i.service

