[Unit]
Description=Internal Content API
After=vulcan.service
Requires=docker.service
Wants=internal-content-api-sidekick@%i.service

[Service]
Environment="DOCKER_APP_VERSION=latest"
Environment="CONTENT_SOURCE_APP_NAME=enriched-content-read-api"
Environment="INTERNAL_COMPONENTS_SOURCE_APP_NAME=document-store-api"
Environment="CONTENT_SOURCE_APP_PANIC_GUIDE=https://dewey.ft.com/enriched-content-read-api.html"
Environment="INTERNAL_COMPONENTS_SOURCE_APP_PANIC_GUIDE=https://dewey.ft.com/document-store-api.html"
Environment="CONTENT_SOURCE_APP_BUSINESS_IMPACT=No articles would be available"
Environment="INTERNAL_COMPONENTS_SOURCE_APP_BUSINESS_IMPACT=Articles won't have the internal components"
Environment="IMAGE_RESOLVER_APP_NAME=image-resolver"
Environment="IMAGE_RESOLVER_APP_PANIC_GUIDE=https://dewey.ft.com/image-resolver.html"
Environment="IMAGE_RESOLVER_APP_BUSINESS_IMPACT=Describe the business impact the image resolver app would produce if it is broken."
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=/bin/bash -c '/usr/bin/docker history coco/internal-content-api:$DOCKER_APP_VERSION > /dev/null 2>&1 \
  || docker pull coco/internal-content-api:$DOCKER_APP_VERSION'


ExecStart=/bin/sh -c '\
    ENV=$(/usr/bin/etcdctl get /ft/config/environment_tag); \
    ENV_API_HOST=$(etcdctl get /ft/config/api_host); \
    /usr/bin/docker run --rm --name %p-%i_$(uuidgen) -p 8080 -p 8081 \
    --memory="256m" \
    --env "APP_SYSTEM_CODE=up-ica" \
    --env "APP_NAME=Internal Content API" \
    --env "APP_PORT=8080" \
    --env "CONTENT_SOURCE_URI=http://$HOSTNAME:8080/__enriched-content-read-api/enrichedcontent/" \
    --env "INTERNAL_COMPONENTS_SOURCE_URI=http://$HOSTNAME:8080/__document-store-api/internalcomponents/" \
    --env "CONTENT_SOURCE_APP_HEALTH_URI=http://$HOSTNAME:8080/__enriched-content-read-api/__health" \
    --env "INTERNAL_COMPONENTS_SOURCE_APP_HEALTH_URI=http://$HOSTNAME:8080/__document-store-api/__health" \
    --env "CONTENT_SOURCE_APP_NAME=$CONTENT_SOURCE_APP_NAME" \
    --env "INTERNAL_COMPONENTS_SOURCE_APP_NAME=$INTERNAL_COMPONENTS_SOURCE_APP_NAME" \
    --env "CONTENT_SOURCE_APP_PANIC_GUIDE=$CONTENT_SOURCE_APP_PANIC_GUIDE" \
    --env "INTERNAL_COMPONENTS_SOURCE_APP_PANIC_GUIDE=$INTERNAL_COMPONENTS_SOURCE_APP_PANIC_GUIDE" \
    --env "CONTENT_SOURCE_APP_BUSINESS_IMPACT=$CONTENT_SOURCE_APP_BUSINESS_IMPACT" \
    --env "INTERNAL_COMPONENTS_SOURCE_APP_BUSINESS_IMPACT=$INTERNAL_COMPONENTS_SOURCE_APP_BUSINESS_IMPACT" 
	--env "IMAGE_RESOLVER_URI=http://$HOSTNAME:8080/__image-resolver/internalcontent/image" \
	--env "IMAGE_RESOLVER_APP_NAME=$IMAGE_RESOLVER_APP_NAME" \
	--env "IMAGE_RESOLVER_APP_HEALTH_URI=http://$HOSTNAME:8080/__image-resolver/__health" \
	--env "IMAGE_RESOLVER_APP_PANIC_GUIDE=$IMAGE_RESOLVER_APP_PANIC_GUIDE" \
	--env "IMAGE_RESOLVER_APP_BUSINESS_IMPACT=$IMAGE_RESOLVER_APP_BUSINESS_IMPACT" \
    --env "ENV_API_HOST=$ENV_API_HOST" \
    --env "CACHE_CONTROL_POLICY=\"max-age=$(/usr/bin/etcdctl get /ft/config/cache-max-age)\"" \
    --env "GRAPHITE_TCP_ADDRESS=graphite.ft.com:2003" \
    --env "GRAPHITE_PREFIX=coco.services.$ENV.internal-content-api.%i" \
    coco/internal-content-api:$DOCKER_APP_VERSION;'
ExecStop=-/bin/bash -c '/usr/bin/docker stop -t 3 "$(docker ps -q --filter=name=%p-%i_)"'
Restart=on-failure
RestartSec=60

[X-Fleet]
Conflicts=internal-content-api@*.service
