[Unit]
Description=kafka lagcheck service
After=vulcan.service
Requires=docker.service
Wants=kafka-lagcheck-sidekick@%i.service

[Service]
Environment="DOCKER_APP_VERSION=latest"
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove work correctly.
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=/bin/bash -c '/usr/bin/docker history coco/kafka-lagcheck:$DOCKER_APP_VERSION > /dev/null 2>&1 \
  || /usr/bin/docker pull coco/kafka-lagcheck:$DOCKER_APP_VERSION'
  
ExecStart=/bin/sh -c '\
  /usr/bin/docker run --rm --name %p-%i_$(uuidgen) -p 8080 \
    --env "HOST_MACHINE=%H" \
    --env "WHITELISTED_TOPICS=Concept" \
    --env "LAG_TOLERANCE=30" \
    coco/kafka-lagcheck:$DOCKER_APP_VERSION;'
    
ExecStop=-/bin/bash -c 'docker stop -t 3 "$(docker ps -q --filter=name=%p-%i_)"'
Restart=on-failure
RestartSec=60

[X-Fleet]
Conflicts=kafka-lagcheck@*.service
