[Unit]
Description=Runs the Load Replicator

[Timer]
OnCalendar=Mon,Tue,Wed,Thu,Fri *-*-* 07:00:00

[Install]
WantedBy=timers.target

[X-Fleet]
MachineOf=load-replicator@%i.service
