[Unit]
Description=Locations rw neo4j blue Sidekick
BindsTo=locations-rw-neo4j-blue@%i.service
After=locations-rw-neo4j-blue@%i.service

[Service]
ExecStart=/bin/sh -c "\
  etcdctl set   /ft/services/locations-rw-neo4j-blue/healthcheck true; \
  etcdctl mkdir /ft/services/locations-rw-neo4j-blue/servers; \
  etcdctl set /ft/healthcheck/locations-rw-neo4j-blue-%i/path /__health; \
  while true; do \
    PORT=`[ $PORT ] && echo $PORT || echo $(/usr/bin/docker port locations-rw-neo4j-blue-%i 8080 | cut -d':' -f2)`; \
    etcdctl set /ft/services/locations-rw-neo4j-blue/servers/%i "http://$HOSTNAME:$PORT" --ttl 150; \
    sleep 120; \
  done"

ExecStop=/usr/bin/etcdctl rm /ft/services/locations-rw-neo4j-blue/servers/%i
Restart=on-failure
RestartSec=60

[X-Fleet]
MachineOf=locations-rw-neo4j-blue@%i.service