[Unit]
Description=Log collector

[Service]

Environment="DOCKER_COLLECTOR_VERSION=1.0.0-fd-rc2"
Environment="DOCKER_LOGFILTER_VERSION=1.2.2-k8s-fd-blacklist-rc1"
TimeoutStartSec=1200
# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none
ExecStartPre=-/bin/bash -c 'docker kill "$(docker ps -q --filter=name=%p-filter_)" > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c 'docker kill "$(docker ps -q --filter=name=%p-http_)" > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c 'docker rm "$(docker ps -q --filter=name=%p-filter_)" > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c 'docker rm "$(docker ps -q --filter=name=%p-http_)" > /dev/null 2>&1'
ExecStartPre=/bin/bash -c 'docker history coco/log-collector:$DOCKER_COLLECTOR_VERSION >/dev/null 2>&1 \
  || docker pull coco/log-collector:$DOCKER_COLLECTOR_VERSION'
ExecStartPre=/bin/bash -c 'docker history coco/coco-logfilter:$DOCKER_LOGFILTER_VERSION >/dev/null 2>&1 \
  || docker pull coco/coco-logfilter:$DOCKER_LOGFILTER_VERSION'
ExecStart=/bin/sh -c '\
  BATCHSIZE=$(/usr/bin/etcdctl get /ft/config/splunk-forwarder/batchsize  2>/dev/null) || BATCHSIZE=10; \
  export ENV=$(/usr/bin/etcdctl get /ft/config/environment_tag); \
  export DNS_ADDRESS=$(/usr/bin/etcdctl get /ft/config/public_address); \
  export BUCKET_NAME=$(/usr/bin/etcdctl get /ft/config/splunk-forwarder/bucket_name); \
  export AWS_REGION=$(/usr/bin/etcdctl get /ft/config/splunk-forwarder/aws_region); \
  export AWS_ACCESS_KEY_ID=$(/usr/bin/etcdctl get /ft/config/splunk-forwarder/aws_access_key_id); \
  export AWS_SECRET_ACCESS_KEY=$(/usr/bin/etcdctl get /ft/config/splunk-forwarder/aws_secret_access_key); \
  journalctl -a -f --since=now --output=json \
  | docker run -i --log-driver=none -e=ENV=$ENV -e="DNS_ADDRESS=$DNS_ADDRESS" --rm --name %p-filter_$(uuidgen) --memory="256m" coco/coco-logfilter:$DOCKER_LOGFILTER_VERSION \
  | docker run -i --log-driver=none --rm --name %p-http_$(uuidgen) --memory="256m" -e="ENV=$ENV" -e="WORKERS=8" -e="BUFFER=256" -e="BATCHSIZE=$BATCHSIZE" -e="BATCHTIMER=5" -e="BUCKET_NAME=$BUCKET_NAME" -e="AWS_REGION=$AWS_REGION" -e="AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID" -e="AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY" coco/log-collector:$DOCKER_COLLECTOR_VERSION'

ExecStop=-/bin/bash -c 'docker stop -t 3 "$(docker ps -q --filter=name=%p-filter_)" && docker stop -t 3 "$(docker ps -q --filter=name=%p-http_)"'
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
