[Unit]
Description=Methodeapi backend

[Service]
RemainAfterExit=yes
ExecStart=/bin/sh -c "\
    etcdctl set /vulcand/backends/methodeapi/backend '{\"Type\": \"http\"}'; \
    etcdctl set /vulcand/backends/methodeapi/servers/srv '{\"url\": \"http://methodeapi.ft.com\"}'; \
    etcdctl set /vulcand/frontends/methodeapi/frontend '{\"Type\": \"http\", \"BackendId\": \"methodeapi\", \"Route\": \"PathRegexp(`/.*`) && Host(`methodeapi.ft.com`)\"}';"

ExecStop=-/bin/bash -c '/usr/bin/etcdctl rm --recursive /vulcand/backends/methodeapi'
