[Unit]
Description=Methode image model mapper
After=vulcan.service
Requires=docker.service
Wants=methode-image-model-mapper-sidekick@%i.service

[Service]
Environment="DOCKER_APP_VERSION=latest"
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove work correctly.
KillMode=none
ExecStartPre=-/bin/sh -c 'docker kill "$(docker ps -q --filter=name=%p-%i_)" >/dev/null 2>&1'
ExecStartPre=-/bin/sh -c 'docker rm "$(docker ps -q --filter=name=%p-%i_)" >/dev/null 2>&1'
ExecStartPre=/bin/sh -c 'docker history up-registry.ft.com/coco/methode-image-model-mapper:$DOCKER_APP_VERSION >/dev/null 2>&1 \
  || docker pull up-registry.ft.com/coco/methode-image-model-mapper:$DOCKER_APP_VERSION'

ExecStart=/bin/sh -c '\
  export JAVA_OPTS="-Xms256m -Xmx256m -XX:+UseG1GC -server"; \
  /usr/bin/docker run --rm --name %p-%i_$(uuidgen) -p 8080 -p 8081 \
  --env "JAVA_OPTS=$JAVA_OPTS" \
  --env "KAFKA_PROXY=$HOSTNAME:8080" \
  up-registry.ft.com/coco/methode-image-model-mapper:$DOCKER_APP_VERSION'

ExecStop=-/bin/bash -c 'docker stop -t 3 "$(docker ps -q --filter=name=%p-%i_)"'
Restart=on-failure
RestartSec=60

[X-Fleet]
Conflicts=%p@*.service