[Unit]
Description=Document store api sidekick
BindsTo=methode-image-model-transformer@%i.service
After=methode-image-model-transformer@%i.service

[Service]
RemainAfterExit=yes
ExecStart=/bin/sh -c "\
  export SERVICE=$(echo %p | sed 's/-sidekick//g'); \
  etcdctl set   /ft/services/$SERVICE/healthcheck     true; \
  etcdctl mkdir /ft/services/$SERVICE/servers; \
  etcdctl set /ft/healthcheck/$SERVICE-%i/path /__health; \
  while [ -z $PORT ]; do \
    sleep 5; \
    PORT=`echo $(/usr/bin/docker port $SERVICE-%i 8080 | cut -d':' -f2)`; \
  done; \
  etcdctl set /ft/services/$SERVICE/servers/%i http://%H:$PORT;"

ExecStop=/usr/bin/etcdctl rm /services/methode-image-model-transformer/%i
Restart=on-failure
RestartSec=60

[X-Fleet]
MachineOf=methode-image-model-transformer@%i.service
