[Unit]
Description=Methode article transformer
After=vulcan.service
Requires=docker.service
Wants=methode-article-transformer-sidekick@%i.service

[Service]
Environment="DOCKER_APP_VERSION=latest"
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=/bin/bash -c 'docker history up-registry.ft.com/coco/methode-article-transformer:$DOCKER_APP_VERSION > /dev/null 2>&1 \
  || docker pull up-registry.ft.com/coco/methode-article-transformer:$DOCKER_APP_VERSION'

ExecStart=/bin/sh -c '\
  /usr/bin/docker run --rm --name %p-%i_$(uuidgen) -p 8080 -p 8081 \
  --env "VULCAN_HOST=%H:8080" \
  up-registry.ft.com/coco/methode-article-transformer:$DOCKER_APP_VERSION'

ExecStop=-/bin/bash -c 'docker stop -t 3 "$(docker ps -q --filter=name=%p-%i_)"'
Restart=on-failure
RestartSec=61

[X-Fleet]
Conflicts=%p@*.service
