[Unit]
Description=Methode Content Importer
After=vulcan.service kafka.service
Requires=docker.service
Wants=methode-content-importer-sidekick@%i.service

[Service]
Environment="DOCKER_APP_VERSION=latest"
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=/bin/bash -c 'docker history up-registry.ft.com/coco/methode-content-importer:$DOCKER_APP_VERSION > /dev/null 2>&1 \
  || docker pull up-registry.ft.com/coco/methode-content-importer:$DOCKER_APP_VERSION'

ExecStart=/bin/sh -c '\
  export BROKER_LIST=$(/usr/bin/etcdctl get /ft/config/kafka/ip):$(/usr/bin/etcdctl get /ft/config/kafka/port); \
  export CONSUMER_LIST=$(/usr/bin/etcdctl get /ft/config/zookeeper/ip):$(/usr/bin/etcdctl get /ft/config/zookeeper/port); \
  export JAVA_OPTS="-Xms128m -Xmx128m -XX:+UseG1GC -server"; \
   /usr/bin/docker run --rm --name %p-%i_$(uuidgen) -P \
   --env "CONSUMER_LIST=$CONSUMER_LIST" \
   --env "BROKER_LIST=$BROKER_LIST" \
   --env "QUEUEPROXY_HOST=$HOSTNAME:8080" \
   --env "NATIVERW_HOST=$HOSTNAME:8080" \
   --env "TRANSFORMER_PROXY=$HOSTNAME:8080" \
   --env "JAVA_OPTS=$JAVA_OPTS" \
   up-registry.ft.com/coco/methode-content-importer:$DOCKER_APP_VERSION'

ExecStop=-/bin/bash -c 'docker stop -t 3 "$(docker ps -q --filter=name=%p-%i_)"'
Restart=on-failure
RestartSec=60

[X-Fleet]
Conflicts=%p@*.service
