[Unit]
Description=method article transformer sidekick
BindsTo=methode-article-transformer@%i.service
After=methode-article-transformer@%i.service

[Service]
ExecStart=/bin/sh -c "\
  etcdctl set   /ft/services/methode-article-transformer/healthcheck     true; \
    etcdctl mkdir /ft/services/methode-article-transformer/servers; \
    etcdctl set /ft/healthcheck/methode-article-transformer-%i/path /__health; \
  while true; do \
      PORT=`[ $PORT ] && echo $PORT || echo $(/usr/bin/docker port methode-article-transformer-%i 8080 | cut -d':' -f2)`; \
      etcdctl set /ft/services/methode-article-transformer/servers/%i "http://$HOSTNAME:$PORT" --ttl 600; \
      sleep 120; \
    done"

ExecStop=/usr/bin/etcdctl rm /ft/services/methode-article-transformer/servers/%i

[X-Fleet]
MachineOf=methode-article-transformer@%i.service

