[Unit]
Description=Runs the mongo backup job

[Timer]
OnCalendar=15:30

[Install]
WantedBy=timers.target

[X-Fleet]
MachineOf=mongo-backup@%i.service
