[Unit]
Description=MongoDB 
After=docker.service
Requires=docker.service
Wants=mongodb-sidekick@%i.service

[Service]
Environment="DOCKER_APP_VERSION=latest"
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=/bin/bash -c 'docker history coco/mongodb:$DOCKER_APP_VERSION > /dev/null 2>&1 || docker pull coco/mongodb:$DOCKER_APP_VERSION'

ExecStart=/bin/sh -c "\
  MONGO_PORT=27017;\
  MONGO_ADMIN_PORT=$(( $MONGO_PORT + 1000));\
  /usr/bin/docker run --rm --name %p-%i_$(uuidgen) \
  --memory="4g" \
  -v /vol/mongodb:/data/db \
  -p $(( $MONGO_PORT + %i )):$MONGO_PORT \
  -p $(( $MONGO_ADMIN_PORT + %i )):$MONGO_ADMIN_PORT \
  coco/mongodb:$DOCKER_APP_VERSION;"

ExecStop=-/bin/bash -c 'docker stop -t 3 "$(docker ps -q --filter=name=%p-%i_)"'
Restart=on-failure
RestartSec=60

[X-Fleet]
Conflicts=mongodb@*.service
MachineMetadata=persistent_tag=%i
