[Unit]
Description=MongoDB Sidekick
BindsTo=mongodb@%i.service
After=mongodb@%i.service

[Service]
ExecStart=/bin/sh -c "\
  export MONGODB_IP=$HOSTNAME; \
  while true; do \
    MONGODB_PORT=`[ $MONGODB_PORT ] && echo $MONGODB_PORT || echo $(/usr/bin/docker port mongodb-%i 27017 | cut -d':' -f2)`; \
    MONGODB_ADMIN_PORT=`[ $MONGODB_ADMIN_PORT ] && echo $MONGODB_ADMIN_PORT || echo $(/usr/bin/docker port mongodb-%i 28017 | cut -d':' -f2)`; \
    etcdctl mkdir /ft/config/mongodb/%i --ttl 600; \
    etcdctl set /ft/config/mongodb/%i/host $MONGODB_IP --ttl 600; \
    etcdctl set /ft/config/mongodb/%i/port $MONGODB_PORT --ttl 600; \
    etcdctl set /ft/config/mongodb/%i/admin_port $MONGODB_ADMIN_PORT --ttl 600; \
    sleep 120; \
  done"
ExecStop=/usr/bin/etcdctl rm --recursive /ft/config/mongodb/%i

[X-Fleet]
MachineOf=mongodb@%i.service

