[Unit]
Description=MongoDB Sidekick
BindsTo=mongodb@%i.service
After=mongodb@%i.service

[Service]
RemainAfterExit=yes
ExecStart=/bin/sh -c "\
  export SERVICE=$(echo %p | sed 's/-sidekick//g'); \
  etcdctl mkdir /ft/config/$SERVICE/%i; \
  etcdctl set /ft/config/$SERVICE/%i/host $HOSTNAME; \
  while [ -z $PORT ] || [ -z $ADMIN_PORT ]; do \
    sleep 5; \
    CONTAINER_NAME=$(docker ps -q --filter=name=\"$SERVICE\"-%i_); \
    PORT=`echo $(/usr/bin/docker port $CONTAINER_NAME 27017 | cut -d':' -f2)`; \
    ADMIN_PORT=`echo $(/usr/bin/docker port $CONTAINER_NAME 28017 | cut -d':' -f2)`; \
  done; \
  etcdctl set /ft/config/$SERVICE/%i/port $PORT; \
  etcdctl set /ft/config/$SERVICE/%i/admin_port $ADMIN_PORT;"

ExecStop=-/bin/bash -c 'etcdctl rm --recursive /ft/config/mongodb/%i'
Restart=on-failure
RestartSec=60

[X-Fleet]
MachineOf=mongodb@%i.service

