[Unit]
Description=Runs the mongo backup job

[Timer]
OnCalendar=12:00

[Install]
WantedBy=timers.target

[X-Fleet]
MachineOf=mongodb-online-backup.service
