[Unit]
Description=Nativerw sidekick
BindsTo=nativerw@%i.service
After=nativerw@%i.service

[Service]
ExecStart=/bin/sh -c "\
  etcdctl set   /ft/services/nativerw/healthcheck     true \
  etcdctl mkdir /ft/services/nativerw/servers \
  etcdctl set /ft/healthcheck/nativerw-%i /__health; \
  while true; do \
    PORT=$(/usr/bin/docker port nativerw-%i 8080 | cut -d':' -f2); \
    etcdctl set /ft/services/nativerw/servers/%i "http://$HOSTNAME:$PORT" --ttl 600; \
    sleep 120; \
  done"
ExecStop=/usr/bin/etcdctl rm /ft/services/nativerw/servers/%i

[X-Fleet]
MachineOf=nativerw@%i.service

