[Unit]
Description=MongoDB nativerw
After=vulcan.service
Requires=docker.service
Wants=nativerw-sidekick@%i.service

[Service]
Environment="DOCKER_APP_VERSION=latest"
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove work correctly.
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=/bin/bash -c 'docker history coco/nativerw:$DOCKER_APP_VERSION > /dev/null 2>&1 \
  || docker pull coco/nativerw:$DOCKER_APP_VERSION'

ExecStart=/bin/sh -c '\
  export MONGOS=$(for x in $(etcdctl ls /ft/config/mongodb);do echo -n $(etcdctl get $x/host):$(etcdctl get $x/port)"," ; done | sed s/.$//); \
  /usr/bin/docker run --rm --name %p-%i_$(uuidgen) -p 8080 \
  --memory="32m" \
  --env "MONGOS=$MONGOS" \
  coco/nativerw:$DOCKER_APP_VERSION;'

ExecStop=-/bin/bash -c 'docker stop -t 3 "$(docker ps -q --filter=name=%p-%i_)"'
Restart=on-failure
RestartSec=60

[X-Fleet]
Conflicts=nativerw@*.service
