[Unit]
Description=Native Ingester for Metadata
After=vulcan.service
Requires=docker.service

[Service]
Environment="DOCKER_APP_VERSION=latest"
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none
MemoryLimit=1G
ExecStartPre=-/bin/bash -c 'docker kill "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c 'docker rm "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=/bin/bash -c 'docker history coco/native-ingester:$DOCKER_APP_VERSION > /dev/null 2>&1 \
  || docker pull coco/native-ingester:$DOCKER_APP_VERSION'

ExecStart=/bin/bash -c '\
  	export ENVIRONMENT_TAG=$(/usr/bin/etcdctl get /ft/config/environment_tag); \
    export DEST_COLLECTIONS_BY_ORIGINS="{\\"http://cmdb.ft.com/systems/methode-web-pub\\": \\"v1-metadata\\"}"; \
	docker run --rm --name %p-%i_$(uuidgen) -p 8080 \
	--env "SRC_ADDR=http://%H:8080" \
	--env "SRC_GROUP=nativeIngesterMetadata" \
	--env "SRC_TOPIC=NativeCmsMetadataPublicationEvents" \
	--env "SRC_QUEUE=kafka" \
	--env "SRC_CONCURRENT_PROCESSING=true" \
	--env "SRC_UUID_FIELD=uuid" \
	--env "DEST_ADDRESS=http://%H:8080" \
	--env "DEST_COLLECTIONS_BY_ORIGINS=$DEST_COLLECTIONS_BY_ORIGINS" \
	--env "DEST_HEADER=nativerw" \
	--env "ENVIRONMENT=coco-$ENVIRONMENT_TAG" \
	coco/native-ingester:$DOCKER_APP_VERSION'

ExecStop=-/bin/bash -c 'docker stop -t 3 "$(docker ps -q --filter=name=%p-%i_)"'
Restart=on-failure
RestartSec=60

[X-Fleet]
Conflicts=native-ingester-metadata@*.service
