[Unit]
Description=Native Ingester for NativeCmsPublicationEvents
After=docker.service
Requires=docker.service

[Service]
Environment="DOCKER_APP_VERSION=latest"
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none
MemoryLimit=1G
ExecStartPre=-/bin/bash -c 'docker kill %p-%i > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c 'docker rm %p-%i > /dev/null 2>&1'
ExecStartPre=/bin/bash -c 'docker history coco/native-ingester:$DOCKER_APP_VERSION > /dev/null 2>&1 || docker pull coco/native-ingester:$DOCKER_APP_VERSION'
ExecStartPre=/bin/bash -c 'export DEST_COLLECTIONS_BY_ORIGINS="[{\"originId\": \"http://cmdb.ft.com/systems/methode-web-pub\", \"collection\": \"methode\"},{\"originId\": \"http://cmdb.ft.com/systems/wordpress\", \"collection\": \"wordpress\"}]"'
ExecStart=/bin/bash -c '\
  	export ENVIRONMENT_TAG=$(/usr/bin/etcdctl get /ft/config/environment_tag); \
	docker run --rm --name %p-%i -p 8080 \
	--env "SRC_ADDR=http://%H:8080" \
	--env "SRC_GROUP=nativeIngesterCms" \
	--env "SRC_TOPIC=NativeCmsPublicationEvents" \
	--env "SRC_QUEUE=kafka" \
	--env "SRC_CONCURRENT_PROCESSING=true" \
	--env "SRC_UUID_FIELD=uuid" \
	--env "DEST_ADDRESS=http://%H:8080" \
	--env "DEST_COLLECTIONS_BY_ORIGINS=$DEST_COLLECTIONS_BY_ORIGINS" \
	--env "DEST_HEADER=nativerw" \
	--env "ENVIRONMENT=coco-$ENVIRONMENT_TAG" \
	coco/native-ingester:$DOCKER_APP_VERSION'

ExecStop=/usr/bin/docker stop -t 3 %p-%i
Restart=on-failure
RestartSec=60

[X-Fleet]
Conflicts=native-ingester-cms@*.service
