[Unit]
Description=Native Ingester for Metadata sidekick
BindsTo=native-ingester-metadata@%i.service
After=native-ingester-metadata@%i.service

[Service]
ExecStart=/bin/sh -c "\
  etcdctl set   /ft/services/native-ingester-metadata/healthcheck     true; \
  etcdctl mkdir /ft/services/native-ingester-metadata/servers; \
  etcdctl set /ft/healthcheck/native-ingester-metadata-%i /__health; \
  while true; do \
    PORT=`[ $PORT ] && echo $PORT || echo $(/usr/bin/docker port native-ingester-metadata-%i 8080 | cut -d':' -f2)`; \
    etcdctl set /ft/services/native-ingester-metadata/servers/%i "http://$HOSTNAME:$PORT" --ttl 600; \
    sleep 120; \
  done"
ExecStop=/usr/bin/etcdctl rm /ft/services/native-ingester-metadata/servers/%i
Restart=on-failure
RestartSec=60

[X-Fleet]
MachineOf=native-ingester-metadata@%i.service

