[Unit]
Description=Native Ingester for Content sidekick
BindsTo=native-ingester-content@%i.service
After=native-ingester-content@%i.service

[Service]
ExecStart=/bin/sh -c "\
  etcdctl set   /ft/services/native-ingester-content/healthcheck     true; \
  etcdctl mkdir /ft/services/native-ingester-content/servers; \
  etcdctl set /ft/healthcheck/native-ingester-content-%i /__health; \
  PORT=$(/usr/bin/docker port native-ingester-content-%i 8080 | cut -d':' -f2); \
  while true; do \
    etcdctl set /ft/services/native-ingester-content/servers/%i "http://$HOSTNAME:$PORT" --ttl 600; \
    sleep 120; \
  done"
ExecStop=/usr/bin/etcdctl rm /ft/services/native-ingester-content/servers/%i
Restart=on-failure
RestartSec=60

[X-Fleet]
MachineOf=native-ingester-content@%i.service

