[Unit]
Description=Neo4j Read Red Sidekick
BindsTo=neo4j-red@%i.service
After=neo4j-red@%i.service

[Service]
RemainAfterExit=yes
ExecStart=/bin/sh -c '\
  etcdctl set /vulcand/backends/neo4j-read/backend \'{"Type": "http"}\'; \
  etcdctl set /vulcand/frontends/neo4j-read/frontend \'{"Type": "http", "BackendId\": "neo4j-read", "Route": "PathRegexp(`/__neo4j-read/.*`)", "Settings": { "TrustForwardHeader": true, "PassHostHeader": true }}\'; \
  etcdctl set /vulcand/frontends/neo4j-read/middlewares/rewrite \'{"Id":"rewrite", "Type":"rewrite", "Priority":1, "Middleware": {"Regexp":"/__neo4j-read(/.*)", "Replacement":"$1"}}\'; \
  etcdctl set /vulcand/frontends/neo4j-read-db/frontend \'{"Type": "http", "BackendId": "neo4j-read", "Route": "PathRegexp(`^/db/data/.*`) && Header(`User-Agent`, `neoism`)", "Settings": { "TrustForwardHeader": true, "PassHostHeader": true }}\'; \
  while [ -z $PORT ]; do \
    PORT=`echo $(/usr/bin/docker port neo4j-red-%i 7474 | cut -d":" -f2)`; \
    echo "Port not set, retrying"; \
    sleep 5; \
  done; \
  etcdctl set /vulcand/backends/neo4j-read/servers/1 "{\\"url\\": \\"http://$HOSTNAME:$PORT\\"}"'
ExecStop=/usr/bin/etcdctl rm /vulcand/backends/neo4j-read/servers/1

[X-Fleet]
MachineOf=neo4j-red@%i.service
