[Unit]
Description=Neo4j Sidekick
BindsTo=neo4j@%i.service
After=neo4j@%i.service

[Service]
ExecStart=/bin/sh -c "\
  etcdctl mkdir /ft/services/neo4j/servers; \
  etcdctl set /vulcand/frontends/neo4j-db/frontend '{\"Type\": \"http\", \"BackendId\": \"vcb-neo4j\", \"Route\": \"PathRegexp(`/db/.*`) \"}'; \
  while true; do \
    PORT=$(/usr/bin/docker port neo4j-%i 7474 | cut -d':' -f2); \
    etcdctl set /ft/services/neo4j/servers/%i "http://$HOSTNAME:$PORT" --ttl 600; \
    sleep 120; \
  done"
ExecStop=/usr/bin/etcdctl rm /ft/services/neo4j/servers/%i

[X-Fleet]
MachineOf=neo4j@%i.service

