[Unit]
Description=notifications-push Sidekick
BindsTo=notifications-push@%i.service
After=notifications-push@%i.service

[Service]
RemainAfterExit=yes
ExecStart=/bin/sh -c "\
  export SERVICE=$(echo %p | sed 's/-sidekick//g'); \
  etcdctl set /ft/services/$SERVICE/healthcheck true; \
  etcdctl mkdir /ft/services/$SERVICE/servers; \
  etcdctl set /ft/healthcheck/$SERVICE-%i/path /__health; \
  NOTIFICATIONS_PUSH_PORT=8548; \
  etcdctl set /ft/services/$SERVICE/servers/%i http://%H:$NOTIFICATIONS_PUSH_PORT;"

ExecStop=-/bin/bash -c '/usr/bin/etcdctl rm /ft/services/notifications-push/servers/%i'
Restart=on-failure
RestartSec=61

[X-Fleet]
MachineOf=notifications-push@%i.service
