[Unit]
Description=People Reader-Writer for Red Neo4j Service
After=vulcan.service
Requires=docker.service
Wants=people-rw-neo4j-red-sidekick@%i.service

[Service]
Environment="DOCKER_APP_VERSION=latest"
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove work correctly.
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
# Sets key in etcd with default value for neo4j BATCH_SIZE parameter if one does not already exist.
ExecStartPre=-/bin/bash -c 'etcd_batchsize_param="/ft/services/%p-%i/param/batchsize" ; /usr/bin/etcdctl get $etcd_batchsize_param > /dev/null 2>&1 ; if [ $? != 0 ] ; then /usr/bin/etcdctl set $etcd_batchsize_param 600 > /dev/null 2>&1; fi'
ExecStartPre=/bin/bash -c '/usr/bin/docker history coco/people-rw-neo4j:$DOCKER_APP_VERSION > /dev/null 2>&1 || /usr/bin/docker pull coco/people-rw-neo4j:$DOCKER_APP_VERSION'

ExecStart=/bin/sh -c '\
  export APP_PORT=8080; \
  export ENV=$(/usr/bin/etcdctl get /ft/config/environment_tag); \
  export BATCH_SIZE=$(/usr/bin/etcdctl get /ft/services/%p-%i/param/batchsize); \
  /usr/bin/docker run --rm --name %p-%i_$(uuidgen) -p $APP_PORT \
  --memory="256m" \
  --env "NEO_URL=http://$HOSTNAME:8080/__neo4j-red/db/data" \
  --env "APP_PORT=$APP_PORT" \
  --env "BATCH_SIZE=$BATCH_SIZE" \
  --env "GRAPHITE_ADDRESS=graphite.ft.com:2003" \
  --env "GRAPHITE_PREFIX=coco.services.$ENV.people-rw-neo4j-red.%i" \
  coco/people-rw-neo4j:$DOCKER_APP_VERSION;'

ExecStop=-/bin/bash -c 'docker stop -t 3 "$(docker ps -q --filter=name=%p-%i_)"'
Restart=on-failure
RestartSec=60

[X-Fleet]
Conflicts=people-rw-neo4j-red@*.service

