[Unit]
Description=Public Content by Concept API Service Sidekick
BindsTo=public-content-by-concept-api@%i.service
After=public-content-by-concept-api@%i.service

[Service]
RemainAfterExit=yes
ExecStart=/bin/sh -c "\
  export SERVICE=$(echo %p | sed 's/-sidekick//g'); \
  etcdctl set   /ft/services/$SERVICE/healthcheck  	true; \
  etcdctl mkdir /ft/services/$SERVICE/servers; \
  etcdctl set   /ft/healthcheck/$SERVICE-%i/path 		/__health; \
  etcdctl set   /ft/healthcheck/$SERVICE-%i/categories 	read; \
  etcdctl set   /ft/services/$SERVICE/path-regex/public-services `^\/content.*isAnnotatedBy=.*$`; \
  etcdctl set   /ft/services/$SERVICE/path-host/public-services public-services; \
  while [ -z $PORT ]; do \
    sleep 5; \
    CONTAINER_NAME=$(docker ps -q --filter=name=\"$SERVICE\"-%i_); \
    PORT=`echo $(/usr/bin/docker port $CONTAINER_NAME 8080 | cut -d':' -f2)`; \
  done; \
  etcdctl set /ft/services/$SERVICE/servers/%i http://%H:$PORT;"
  
ExecStop=-/bin/bash -c '/usr/bin/etcdctl rm /ft/services/public-content-by-concept-api/servers/%i'

[X-Fleet]
MachineOf=public-content-by-concept-api@%i.service
