[Unit]
Description=Public Organisations API Service Sidekick
BindsTo=public-organisations-api@%i.service
After=public-organisations-api@%i.service

[Service]
RemainAfterExit=yes
ExecStart=/bin/sh -c "\
  export SERVICE=$(echo %p | sed "s/-sidekick//g"); \
  etcdctl set   /ft/services/$SERVICE/healthcheck     true; \
  etcdctl mkdir /ft/services/$SERVICE/servers; \
  etcdctl set /ft/healthcheck/$SERVICE-%i/path /__health; \
  etcdctl set /ft/healthcheck/$SERVICE-%i/categories read; \
  etcdctl set /vulcand/frontends/$SERVICE/frontend '{\"Type\": \"http\", \"BackendId\": \"vcb-public-organisations-api\", \"Route\": \"PathRegexp(`/organisations/[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$`) && Host(`public-services`)\"}'; \
  while [ -z $PORT ]; do \
    PORT=`echo $(/usr/bin/docker port $SERVICE-%i 8080 | cut -d':' -f2)`; \
    echo 'Port not set, retrying'; \
    sleep 5; \
  done; \
  etcdctl set /ft/services/$SERVICE/servers/%i http://%H:$PORT;"

ExecStop=/usr/bin/etcdctl rm /ft/services/public-organisations-api/servers/%i
Restart=on-failure
RestartSec=60

[X-Fleet]
MachineOf=public-organisations-api@%i.service
