[Unit]
Description=Public Concordances API Service
After=vulcan.service
Requires=docker.service
Wants=public-concordances-api-sidekick@%i.service

[Service]
Environment="DOCKER_APP_VERSION=latest"
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove work correctly.
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=/bin/bash -c '/usr/bin/docker history coco/public-concordances-api:$DOCKER_APP_VERSION > /dev/null 2>&1 \
  || /usr/bin/docker pull coco/public-concordances-api:$DOCKER_APP_VERSION'

ExecStart=/bin/sh -c '\
  export APP_PORT=8080; \
  export ENV=$(/usr/bin/etcdctl get /ft/config/environment_tag); \
  export NEO_HOST_PORT=$(/usr/bin/etcdctl get /ft/services/neo4j/servers/1); \
  /usr/bin/docker run --rm --name %p-%i_$(uuidgen) \
  -p $APP_PORT \
  -e "NEO_URL=http://$HOSTNAME:8080/__neo4j-read/db/data" \
  -e "APP_PORT=$APP_PORT" \
  -e "GRAPHITE_ADDRESS=graphite.ft.com:2003" \
  -e "GRAPHITE_PREFIX=coco.services.$ENV.public-concordances-api.%i" \
  -e "LOG_METRICS=false" \
  -e "CACHE_DURATION=24h" \
  coco/public-concordances-api:$DOCKER_APP_VERSION;'
ExecStop=-/bin/bash -c 'docker stop -t 3 "$(docker ps -q --filter=name=%p-%i_)"'
Restart=on-failure
RestartSec=60

[X-Fleet]
Conflicts=public-concordances-api@*.service
