[Unit]
Description=UP REST Storage - elasticsearch
After=docker.service elasticsearch.service
Requires=docker.service
Wants=elasticsearch-sidekick.service restorage-elasticsearch-sidekick.service

[Service]
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill %p > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm %p > /dev/null 2>&1'
ExecStartPre=/usr/bin/docker pull coco/up-restorage

ExecStart=/bin/bash -c 'export ELASTICSEARCHURL=$(etcdctl get /ft/services/elasticsearch/servers/3) \
    && /usr/bin/docker run --rm --name %p -P coco/up-restorage /bin/bash -c "/up-restorage --id-map=things:uuid elastic --index-name=things URL=$ELASTICSEARCHURL"'
ExecStop=/usr/bin/docker stop -t 3 %p
Restart=on-failure
RestartSec=60

[X-Fleet]
Conflicts=%p.service
