[Unit]
Description=Restorage mongodb native sidekick
BindsTo=restorage-mongo-native@%i.service
After=restorage-mongo-native@%i.service

[Service]
ExecStartPre=/bin/sh -c "\
  etcdctl set   /ft/services/restorage-mongo-native/healthcheck     true \
  etcdctl mkdir /ft/services/restorage-mongo-native/servers"

ExecStart=/bin/sh -c "\
   while true; do \
    PORT=`[ $PORT ] && echo $PORT || echo $(/usr/bin/docker port restorage-mongo-native-%i 8080 | cut -d':' -f2)`; \
    etcdctl set /ft/services/restorage-mongo-native/servers/%i "http://$HOSTNAME:$PORT" --ttl 600; \
    sleep 120; \
  done"
ExecStop=/usr/bin/etcdctl rm /ft/services/restorage-mongo-native/servers/%i
Restart=on-failure
RestartSec=60

[X-Fleet]
MachineOf=restorage-mongo-native@%i.service
