[Unit]
Description=Sections Transformer Sidekick
BindsTo=sections-transformer@%i.service
After=sections-transformer@%i.service

[Service]
ExecStart=/bin/sh -c "\
  etcdctl mkdir /ft/services/sections-transformer/servers; \
  while true; do \
    PORT=`[ $PORT ] && echo $PORT || echo $(/usr/bin/docker port sections-transformer-%i 8080 | cut -d':' -f2)`; \
    etcdctl set /ft/services/sections-transformer/servers/%i "http://$HOSTNAME:$PORT" --ttl 600; \
    sleep 120; \
  done"

ExecStop=/usr/bin/etcdctl rm /ft/services/sections-transformer/servers/%i
Restart=on-failure
RestartSec=60

[X-Fleet]
MachineOf=sections-transformer@%i.service


