[Unit]
Description=Special Reports Transformer Sidekick
BindsTo=special-reports-transformer@%i.service
After=special-reports-transformer@%i.service

[Service]
ExecStart=/bin/sh -c "\
  etcdctl mkdir /ft/services/special-reports-transformer/servers; \
  while true; do \
    PORT=`[ $PORT ] && echo $PORT || echo $(/usr/bin/docker port special-reports-transformer-%i 8080 | cut -d':' -f2)`; \
    etcdctl set /ft/services/special-reports-transformer/servers/%i "http://$HOSTNAME:$PORT" --ttl 150; \
    sleep 120; \
  done"

ExecStop=/usr/bin/etcdctl rm /ft/services/special-reports-transformer/servers/%i
Restart=on-failure
RestartSec=60

[X-Fleet]
MachineOf=special-reports-transformer@%i.service
