[Unit]
Description=Special Reports neo4j rw blue service
After=vulcan.service
Requires=docker.service
Wants=special-reports-rw-neo4j-blue-sidekick@%i.service

[Service]
Environment="DOCKER_APP_VERSION=latest"
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove work correctly.
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
# Sets key in etcd with default value for neo4j BATCH_SIZE parameter if one does not already exist.
ExecStartPre=-/bin/bash -c 'etcd_batchsize_param="/ft/services/%p-%i/param/batchsize" ; /usr/bin/etcdctl get $etcd_batchsize_param > /dev/null 2>&1 ; if [ $? != 0 ] ; then /usr/bin/etcdctl set $etcd_batchsize_param 50 > /dev/null 2>&1; fi'
ExecStartPre=/bin/bash -c 'docker history coco/special-reports-rw-neo4j:$DOCKER_APP_VERSION > /dev/null 2>&1 || docker pull coco/special-reports-rw-neo4j:$DOCKER_APP_VERSION'

ExecStart=/bin/sh -c '\
  export PORT=8080; \
  export ENV=$(/usr/bin/etcdctl get /ft/config/environment_tag); \
  export BATCH_SIZE=$(/usr/bin/etcdctl get /ft/services/%p-%i/param/batchsize); \
  /usr/bin/docker run --rm --name %p-%i_$(uuidgen) -p $PORT \
  --memory="256m" \
  --env "NEO_URL=http://$HOSTNAME:8080/__neo4j-blue/db/data" \
  --env "BATCH_SIZE=$BATCH_SIZE" \
  --env "GRAPHITE_TCP_ADDRESS=graphite.ft.com:2003" \
  --env "GRAPHITE_PREFIX=coco.services.$ENV.special-reports-rw-neo4j-blue.%i" \
  coco/special-reports-rw-neo4j:$DOCKER_APP_VERSION;'

ExecStop=-/bin/bash -c 'docker stop -t 3 "$(docker ps -q --filter=name=%p-%i_)"'
Restart=on-failure
RestartSec=60

[X-Fleet]
Conflicts=special-reports-rw-neo4j-blue@*.service
