[Unit]
Description=Splunk Sidekick
BindsTo=splunk.service
After=splunk.service

[Service]
ExecStart=/bin/sh -c "\
  export SPLUNK_IP=$HOSTNAME; \
  while true; do \
    etcdctl set /ft/splunk_host $SPLUNK_IP --ttl 60; \
    sleep 45; \
  done"
ExecStop=/usr/bin/etcdctl rm /ft/splunk_host

[X-Fleet]
MachineOf=splunk.service
