[Unit]
Description=Splunk
Requires=docker.socket
After=docker.socket
Wants=splunk-sidekick.service

[Service]
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill %p > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm %p > /dev/null 2>&1'
ExecStartPre=/usr/bin/docker pull xeor/splunk
ExecStart=/usr/bin/docker run --rm -p 514:514 -p 8000:8000 -v /vol/splunk:/opt/splunk/var/lib/splunk --name=%p xeor/splunk
ExecStopPost=-/usr/bin/docker rm -f %p
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=host_type=persistent
