[Unit]
Description=Subjects Transformer Sidekick
BindsTo=subjects-transformer@%i.service
After=subjects-transformer@%i.service

[Service]
RemainAfterExit=yes
ExecStart=/bin/sh -c "\
  export SERVICE=$(echo %p | sed 's/-sidekick//g'); \
  etcdctl mkdir /ft/services/$SERVICE/servers; \
  while [ -z $PORT ]; do \
    sleep 5; \
    PORT=`echo $(/usr/bin/docker port $SERVICE-%i 8080 | cut -d':' -f2)`; \
  done; \
  etcdctl set /ft/services/$SERVICE/servers/%i http://%H:$PORT;"

ExecStop=/usr/bin/etcdctl rm /ft/services/subjects-transformer/servers/%i
Restart=on-failure
RestartSec=60

[X-Fleet]
MachineOf=subjects-transformer@%i.service


