[Unit]
Description=Subjects Transformer Sidekick
BindsTo=subjects-transformer@%i.service
After=subjects-transformer@%i.service

[Service]
ExecStart=/bin/sh -c "\
  etcdctl mkdir /ft/services/subjects-transformer/servers; \
  export PORT=$(/usr/bin/docker port subjects-transformer-%i 8080 | cut -d':' -f2); \
  while true; do \
    etcdctl set /ft/services/subjects-transformer/servers/%i "http://$HOSTNAME:$PORT" --ttl 600; \
    sleep 120; \
  done"

ExecStop=/usr/bin/etcdctl rm /ft/services/subjects-transformer/servers/%i
Restart=on-failure
RestartSec=60

[X-Fleet]
MachineOf=subjects-transformer@%i.service


