[Unit]
Description=Suggestions Reader-Writer for Neo4j Service
After=vulcan.service
Requires=docker.service
Wants=suggestions-rw-neo4j-sidekick@%i.service

[Service]
Environment="DOCKER_APP_VERSION=latest"
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove work correctly.
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=/bin/bash -c '/usr/bin/docker history coco/annotations-rw-neo4j:$DOCKER_APP_VERSION > /dev/null 2>&1 \
  || /usr/bin/docker pull coco/annotations-rw-neo4j:$DOCKER_APP_VERSION'

ExecStart=/bin/sh -c '\
  export APP_PORT=8080; \
  export ENV=$(/usr/bin/etcdctl get /ft/config/environment_tag); \
  export NEO_URL=$(/usr/bin/etcdctl get /ft/config/neo4j/read_write_url); \
  export KAFKA_HOST=$(/usr/bin/etcdctl get /ft/config/kafka/ip); \
  export KAFKA_PORT=$(/usr/bin/etcdctl get /ft/config/kafka/port); \
  /usr/bin/docker run --rm --name %p-%i_$(uuidgen) -p $APP_PORT \
  --memory="256m" \
  --env "APP_NAME=suggestions-rw-neo4j" \
  --env "NEO_URL=$NEO_URL" \
  --env "APP_PORT=$APP_PORT" \
  --env "BATCH_SIZE=50" \
  --env "SHOULD_CONSUME_MESSAGES=false" \
  --env "SHOULD_FORWARD_MESSAGES=true" \
  --env "PRODUCER_TOPIC=PostConceptSuggestions" \
  --env "BROKER_ADDRESS=$KAFKA_HOST:$KAFKA_PORT" \
  --env "LIFECYCLE_CONFIG_PATH=suggestion-config.json" \
  --env "GRAPHITE_ADDRESS=graphite.ft.com:2003" \
  --env "GRAPHITE_PREFIX=coco.services.$ENV.suggestions-rw-neo4j.%i" \
  --env "LOG_METRICS=false" \
  coco/annotations-rw-neo4j:$DOCKER_APP_VERSION;'

ExecStop=-/bin/bash -c 'docker stop -t 3 "$(docker ps -q --filter=name=%p-%i_)"'
Restart=on-failure
RestartSec=60

[X-Fleet]
Conflicts=suggestions-rw-neo4j@*.service
