[Unit]
Description=Locations neo4j rw service
After=vulcan.service
Requires=docker.service
Wants=swagger-sidekick@%i.service

[Service]
Environment="DOCKER_APP_VERSION=latest"
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove work correctly.
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=/bin/bash -c 'docker history swaggerapi/swagger-ui:$DOCKER_APP_VERSION > /dev/null 2>&1 || docker pull swaggerapi/swagger-ui:v3.0.5:$DOCKER_APP_VERSION'

ExecStart=/bin/sh -c '\
  export PORT=8080; \
  /usr/bin/docker run --rm --name %p-%i_$(uuidgen) -p $PORT \
  swaggerapi/swagger-ui:v3.0.5:$DOCKER_APP_VERSION;'

ExecStop=-/bin/bash -c 'docker stop -t 3 "$(docker ps -q --filter=name=%p-%i_)"'
Restart=on-failure
RestartSec=60

[X-Fleet]
Conflicts=swagger@*.service
