[Unit]
Description=Synthetic Publication Monitor
After=docker.service
Requires=docker.service
Wants=synthetic-publication-monitor-sidekick@%i.service

[Service]
Environment="DOCKER_APP_VERSION=latest"
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill %p-%i > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm %p-%i > /dev/null 2>&1'
ExecStartPre=/bin/bash -c "/usr/bin/docker pull up-registry.ft.com/coco/synthetic-publication-monitor:$DOCKER_APP_VERSION"

ExecStart=/bin/sh -c "\
  /usr/bin/docker run --rm --name %p-%i -p 8080 -p 8081\
    --env "VULCAN_HOST=%H:8080" \
	up-registry.ft.com/coco/synthetic-publication-monitor:$DOCKER_APP_VERSION;"

ExecStop=/usr/bin/docker stop -t 3 %p-%i
Restart=on-failure
RestartSec=60

[X-Fleet]
Conflicts=%p@*.service
