[Unit]
Description=Synthetic Image Publication Monitor AWS - COCO Sidekick
BindsTo=synthetic-image-publication-monitor-coco@%i.service
After=synthetic-image-publication-monitor-coco@%i.service

[Service]
ExecStart=/bin/sh -c "\
  export SERVICE=$(echo %p | sed 's/-sidekick//g'); \
  etcdctl set /vulcand/backends/$SERVICE/backend '{\"Type\": \"http\"}'; \
  etcdctl set /vulcand/backends/$SERVICE-%i/backend '{\"Type\": \"http\"}'; \
  etcdctl set /vulcand/frontends/$SERVICE/frontend '{\"Type\": \"http\", \"BackendId\": \"synthetic-image-publication-monitor-coco\", \"Route\": \"PathRegexp(`/.*`) && Host(`syn-pub-coco`)\"}'; \
  etcdctl set /vulcand/frontends/$SERVICE-health-%i/frontend '{\"Type\":\"http\", \"BackendId\":\"synthetic-image-publication-monitor-coco-%i\", \"Route\":\"PathRegexp(`/health/synthetic-image-publication-monitor-coco-%i/.*`)\"}'; \
  etcdctl set /vulcand/frontends/$SERVICE-health-%i/middlewares/rewrite '{\"Id\":\"rewrite\", \"Type\":\"rewrite\", \"Priority\":1, \"Middleware\": {\"Regexp\":\"/health/synthetic-image-publication-monitor-coco-%i(.*)\", \"Replacement\":\"$1\"}}'; \
  etcdctl set /ft/healthcheck/$SERVICE-%i/path /__health; \
  while [ -z $PORT ]; do \
    sleep 5; \
    CONTAINER_NAME=$(docker ps -q --filter=name=\"$SERVICE\"-%i_); \
    PORT=`echo $(/usr/bin/docker port $CONTAINER_NAME 8080 | cut -d':' -f2)`; \
  done; \
  etcdctl set /vulcand/backends/$SERVICE/servers/srv%i \"{\\\"url\\\": \\\"http://$HOSTNAME:$PORT\\\"}\" --ttl 600; \
  etcdctl set /vulcand/backends/$SERVICE-%i/servers/srv%i \"{\\\"url\\\": \\\"http://$HOSTNAME:$PORT\\\"}\" --ttl 600;"

ExecStop=-/bin/bash -c 'etcdctl rm --recursive /vulcand/backends/synthetic-image-publication-monitor-coco/servers/srv%i'
ExecStop=-/bin/bash -c 'etcdctl rm --recursive /vulcand/backends/synthetic-image-publication-monitor-coco-%i/servers/srv%i'

[X-Fleet]
MachineOf=synthetic-image-publication-monitor-coco@%i.service
