[Unit]
Description=Synthetic Image Publication Monitor for bridging UCS to CoCo
After=vulcan.service
Requires=docker.service
Wants=synthetic-image-publication-monitor-aws-sidekick@%i.service

[Service]
Environment="DOCKER_APP_VERSION=latest"
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=/bin/bash -c 'docker history coco/coco-synthetic-image-publication-monitor:$DOCKER_APP_VERSION > /dev/null 2>&1 || docker pull coco/coco-synthetic-image-publication-monitor:$DOCKER_APP_VERSION'

ExecStart=/bin/bash -c '\
  	export POST_CREDENTIALS=$(/usr/bin/etcdctl get /ft/_credentials/cms-notifier/post-credentials); \
	export TEST_UUID=$(/usr/bin/etcdctl get /ft/config/synthetic-image-publication-monitor-aws/test-uuid); \
	export BUCKET_ADDRESS=$(/usr/bin/etcdctl get /ft/config/binary-writer/bucket); \
	docker run --rm --name %p-%i_$(uuidgen) -p 8080 \
	--memory="256m" \
	--env "POST_ADDRESS=cmsnotifier.ft.com" \
	--env "BUCKET_ADDRESS=$BUCKET_ADDRESS" \
	--env "DYN_ROUTING=false" \
	--env "POST_CREDENTIALS=$POST_CREDENTIALS" \
	--env "TEST_UUID=$TEST_UUID" \
	coco/coco-synthetic-image-publication-monitor:$DOCKER_APP_VERSION'

ExecStop=-/bin/bash -c 'docker stop -t 3 "$(docker ps -q --filter=name=%p-%i_)"'
Restart=on-failure
RestartSec=60

[X-Fleet]
Conflicts=%p@*.service
