[Unit]
Description=Synthetic Image Publication Monitor AWS - COCO Sidekick
BindsTo=synthetic-image-publication-monitor-coco@%i.service
After=synthetic-image-publication-monitor-coco@%i.service

[Service]
RemainAfterExit=yes
ExecStart=/bin/sh -c "\
  export SERVICE=$(echo %p | sed 's/-sidekick//g'); \
  etcdctl set   /ft/services/$SERVICE/healthcheck     true; \
  etcdctl mkdir /ft/services/$SERVICE/servers; \
  etcdctl set /ft/healthcheck/$SERVICE-%i/path /__health; \
  while [ -z $PORT ]; do \
     sleep 5; \
     CONTAINER_NAME=$(docker ps -q --filter=name=\"$SERVICE\"-%i_); \
     PORT=`echo $(/usr/bin/docker port $CONTAINER_NAME 8080 | cut -d':' -f2)`; \
  done; \
  etcdctl set /ft/services/$SERVICE/servers/%i http://%H:$PORT;"

ExecStop=-/bin/bash -c 'etcdctl rm /ft/services/synthetic-image-publication-monitor-coco/servers/%i'

[X-Fleet]
MachineOf=synthetic-image-publication-monitor-coco@%i.service
