[Unit]
Description=UP Queue sender for V1 metadata
After=vulcan.service
Requires=docker.service

[Service]
Environment="DOCKER_APP_VERSION=latest"
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none
ExecStartPre=-/bin/bash -c 'docker kill "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c 'docker rm "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=/bin/bash -c 'docker history coco/up-queue-sender:$DOCKER_APP_VERSION > /dev/null 2>&1 || docker pull coco/up-queue-sender:$DOCKER_APP_VERSION'

ExecStart=/bin/bash -c '\
  	export ENVIRONMENT_TAG=$(/usr/bin/etcdctl get /ft/config/environment_tag); \
	docker run --rm --name %p-%i_$(uuidgen) -p 8080 \
	--memory="32m" \
	--env "ADDR=http://%H:8080" \
	--env "TOPIC=NativeCmsMetadataPublicationEvents" \
	--env "QUEUE=kafka" \
	--env "ENVIRONMENT=coco-$ENVIRONMENT_TAG" \
	coco/up-queue-sender:$DOCKER_APP_VERSION'

ExecStop=-/bin/bash -c 'docker stop -t 3 "$(docker ps -q --filter=name=%p-%i_)"'
Restart=on-failure
RestartSec=60

[X-Fleet]
Conflicts=up-queue-sender-v1-metadata@*.service