[Unit]
Description=v1-content-annotator-brightcove-red service
After=vulcan.service
Requires=docker.service
Wants=v1-content-annotator-brightcove-red-sidekick@%i.service
[Service]
Environment="DOCKER_APP_VERSION=latest"
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove work correctly.
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=/bin/bash -c '/usr/bin/docker history up-registry.ft.com/coco/content-annotator:$DOCKER_APP_VERSION > /dev/null 2>&1 \
  || /usr/bin/docker pull up-registry.ft.com/coco/content-annotator:$DOCKER_APP_VERSION'
ExecStart=/bin/sh -c '\
  export APP_PORT=8080; \
  export GROUP_ID=$(/usr/bin/etcdctl get /ft/config/environment_tag)"-v1-annotator-brightcove-red"; \
  export ZOOKEEPER_HOST=$(/usr/bin/etcdctl get /ft/config/zookeeper/ip); \
  export ZOOKEEPER_PORT=$(/usr/bin/etcdctl get /ft/config/zookeeper/port); \
  export KAFKA_HOST=$(/usr/bin/etcdctl get /ft/config/kafka/ip); \
  export KAFKA_PORT=$(/usr/bin/etcdctl get /ft/config/kafka/port); \
  /usr/bin/docker run --rm --name %p-%i_$(uuidgen) -p $APP_PORT \
    --env "TOPIC=ConceptSuggestions" \
    --env "GROUP_ID=$GROUP_ID" \
    --env "ZOOKEEPER_ENDPOINTS=$ZOOKEEPER_HOST:$ZOOKEEPER_PORT" \
    --env "KAFKA_ENDPOINTS=$KAFKA_HOST:$KAFKA_PORT" \
    --env "WRITER_ENDPOINT=$HOSTNAME:8080:8080" \
    --env "ANNOTATING_SYSTEM=http://cmdb.ft.com/systems/brightcove" \
    --env "WRITER_HOST_HEADER=v1-annotations-rw-red" \
    up-registry.ft.com/coco/content-annotator:$DOCKER_APP_VERSION;'
ExecStop=-/bin/bash -c 'docker stop -t 3 "$(docker ps -q --filter=name=%p-%i_)"'
Restart=on-failure
RestartSec=60
[X-Fleet]
Conflicts=v1-content-annotator-brightcove-red@*.service
