[Unit]
Description=V2 Annotations Reader-Writer for Neo4j Service Sidekick
BindsTo=v2-annotations-rw@%i.service
After=v2-annotations-rw@%i.service

[Service]
ExecStart=/bin/sh -c "\
  etcdctl set   /ft/services/v2-annotations-rw/healthcheck     true; \
  etcdctl mkdir /ft/services/v2-annotations-rw/servers; \
  etcdctl set /ft/healthcheck/v2-annotations-rw-%i/path /__health; \
  etcdctl set /ft/healthcheck/v2-annotations-rw-%i/categories default; \
  while true; do \
    export V2_ANNOTATIONS_RW_PORT=$(/usr/bin/docker port v2-annotations-rw-%i 8080 | cut -d':' -f2); \
    etcdctl set /ft/services/v2-annotations-rw/servers/%i "http://$HOSTNAME:$V2_ANNOTATIONS_RW_PORT" --ttl 600; \
    sleep 120; \
  done"

ExecStop=/usr/bin/etcdctl rm /ft/services/v2-annotations-rw/servers/%i
Restart=on-failure
RestartSec=60

[X-Fleet]
MachineOf=v2-annotations-rw@%i.service