[Unit]
Description=V2 Annotations Reader-Writer for Red Neo4j Service Sidekick
BindsTo=v2-annotations-rw-red@%i.service
After=v2-annotations-rw-red@%i.service

[Service]
RemainAfterExit=yes
ExecStart=/bin/sh -c "\
  export SERVICE=$(echo %p | sed 's/-sidekick//g'); \
  etcdctl set   /ft/services/$SERVICE/healthcheck     true; \
  etcdctl mkdir /ft/services/$SERVICE/servers; \
  etcdctl set /ft/healthcheck/$SERVICE-%i/path /__health; \
  while [ -z $PORT ]; do \
    sleep 5; \
    CONTAINER_NAME=$(docker ps -q --filter=name=\"$SERVICE\"-%i_); \
    PORT=`echo $(/usr/bin/docker port $CONTAINER_NAME 8080 | cut -d':' -f2)`; \
  done; \
  etcdctl set /ft/services/$SERVICE/servers/%i http://%H:$PORT;"

ExecStop=-/bin/bash -c '/usr/bin/etcdctl rm /ft/services/v2-annotations-rw-red/servers/%i'
Restart=on-failure
RestartSec=61

[X-Fleet]
MachineOf=v2-annotations-rw-red@%i.service