[Unit]
Description=V2 Content Annotator Service
After=vulcan.service
Requires=docker.service
Wants=v2-content-annotator-sidekick@%i.service

[Service]
Environment="DOCKER_APP_VERSION=latest"
Environment="APP_PORT=8080"
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove work correctly.
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker login --username "$(/usr/bin/etcdctl get /ft/_credentials/nexus/docker_user)" \
--password "$(/usr/bin/etcdctl get /ft/_credentials/nexus/docker_pass)" nexus.in.ft.com:5000 > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=/bin/bash -c '/usr/bin/docker history nexus.in.ft.com:5000/coco/content-annotator:$DOCKER_APP_VERSION > /dev/null 2>&1 \
  || /usr/bin/docker pull nexus.in.ft.com:5000/coco/content-annotator:$DOCKER_APP_VERSION'

ExecStart=/bin/sh -c '\
  export GROUP_ID=$(/usr/bin/etcdctl get /ft/config/environment_tag)"-v2-annotator"; \
  export ZOOKEEPER_HOST=$(/usr/bin/etcdctl get /ft/config/zookeeper/ip); \
  export ZOOKEEPER_PORT=$(/usr/bin/etcdctl get /ft/config/zookeeper/port); \
  export KAFKA_HOST=$(/usr/bin/etcdctl get /ft/config/kafka/ip); \
  export KAFKA_PORT=$(/usr/bin/etcdctl get /ft/config/kafka/port); \
  export ENV=$(/usr/bin/etcdctl get /ft/config/environment_tag); \
  export JAVA_OPTS="-Xms128m -Xmx128m -XX:+UseG1GC -server"; \
  /usr/bin/docker run --rm --name %p-%i_$(uuidgen) -p $APP_PORT \
  --env "TOPIC=ConceptSuggestions" \
  --env "GROUP_ID=$GROUP_ID" \
  --env "ZOOKEEPER_ENDPOINTS=$ZOOKEEPER_HOST:$ZOOKEEPER_PORT" \
  --env "KAFKA_ENDPOINTS=$KAFKA_HOST:$KAFKA_PORT" \
  --env "WRITER_ENDPOINT=$HOSTNAME:8080:8080" \
  --env "ANNOTATING_SYSTEM=concept-suggestor" \
  --env "ANNOTATION_LIFECYCLE=annotations-v2" \
  --env "WRITER_HOST_HEADER=suggestions-rw-neo4j" \
  --env "JAVA_OPTS=$JAVA_OPTS" \
  --env "FILTER_NOVELTIES=true" \
  --env "GRAPHITE_HOST=graphite.ft.com" \
  --env "GRAPHITE_PORT=2003" \
  --env "GRAPHITE_PREFIX=coco.services.$ENV.v2-content-annotator.%i" \
  nexus.in.ft.com:5000/coco/content-annotator:$DOCKER_APP_VERSION;'

ExecStop=-/bin/bash -c 'docker stop -t 3 "$(docker ps -q --filter=name=%p-%i_)"'
Restart=on-failure
RestartSec=60

[X-Fleet]
Conflicts=v2-content-annotator@*.service
