[Unit]
Description=V2 Content Annotator Service Sidekick
BindsTo=v2-content-annotator@%i.service
After=v2-content-annotator@%i.service

[Service]
ExecStart=/bin/sh -c "\
  etcdctl set   /ft/services/v2-content-annotator/healthcheck     true; \
  etcdctl mkdir /ft/services/v2-content-annotator/servers; \
  etcdctl set /ft/healthcheck/v2-content-annotator-%i /__health; \
 
  while true; do \
    export V2_CONTENT_ANNOTATOR_PORT=$(/usr/bin/docker port v2-content-annotator-%i 8080 | cut -d':' -f2); \
    etcdctl set /ft/services/v2-content-annotator/servers/%i "http://$HOSTNAME:$V2_CONTENT_ANNOTATOR_PORT" --ttl 600; \
    sleep 120; \
  done"

ExecStop=/usr/bin/etcdctl rm /ft/services/v2-content-annotator/servers/%i
Restart=on-failure
RestartSec=60

[X-Fleet]
MachineOf=v2-content-annotator@%i.service