[Unit]
Description=Varnish Sidekick
BindsTo=varnish@%i.service
After=varnish@%i.service

[Service]
ExecStart=/bin/sh -c '\
  while true; do \
    PORT=`[ $PORT ] && echo $PORT || echo $(/usr/bin/docker port varnish-%i 80 | cut -d":" -f2)`; \
    etcdctl set /ft/services/varnish/servers/%i http://%H:$PORT --ttl 5; \
    sleep 4; \
  done'

ExecStop=/bin/sh -c "etcdctl rm /ft/services/varnish/servers/%i"

[X-Fleet]
MachineOf=varnish@%i.service
