[Unit]
Description=Varnish
After=docker.service
Requires=docker.service
Wants=varnish-sidekick@%i.service

[Service]
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill %p-%i > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm %p-%i > /dev/null 2>&1'
ExecStartPre=/usr/bin/docker pull up-registry.ft.com/coco/varnish
ExecStart=/bin/sh -c '\
/usr/bin/docker run --rm --name %p-%i -p 80:80 --env "VARNISH_BACKEND_HOST=$HOSTNAME" --env "VARNISH_BACKEND_PORT=8080" --env "HOST_HEADER=api-policy-component" up-registry.ft.com/coco/varnish'
ExecStop=/usr/bin/docker stop -t 3 %p-%i

[X-Fleet]
Conflicts=%p@*.service
