[Unit]
Description=Varnish Sidekick
BindsTo=varnish@%i.service
After=varnish@%i.service

[Service]
ExecStart=/bin/sh -c "\
  etcdctl set   /ft/services/varnish/healthcheck true; \
  etcdctl mkdir /ft/services/varnish/servers; \
  etcdctl set /ft/healthcheck/varnish-%i/path /__health; \
  etcdctl set /ft/healthcheck/varnish-%i/categories default,read; \
  etcdctl set /vulcand/frontends/varnish-public-endpoint/frontend '{\"Type\":\"http\", \"BackendId\":\"vcb-varnish\", \"Route\":\"PathRegexp(`/.*`) && MethodRegexp(`GET|HEAD`) && HostRegexp(`.*-up-read\\\\.ft\\\\.com`)\"}'; \
  while true; do \
    export PORT=$(/usr/bin/docker port varnish-%i 80 | cut -d':' -f2); \
    etcdctl set /ft/services/varnish/servers/%i http://$HOSTNAME:$PORT --ttl 5; \
    sleep 4; \
  done"
ExecStop=/bin/sh -c "\
  etcdctl rm /ft/services/varnish/servers/%i"

[X-Fleet]
MachineOf=varnish@%i.service
