[Unit]
Description=Video Mapper
After=vulcan.service
Requires=docker.service

[Service]
Environment="DOCKER_APP_VERSION=latest"
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none
ExecStartPre=-/bin/bash -c 'docker kill "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c 'docker rm "$(docker ps -q --filter=name=%p-%i_)" > /dev/null 2>&1'
ExecStartPre=/bin/bash -c 'docker history coco/video-mapper:$DOCKER_APP_VERSION > /dev/null 2>&1 \
  || docker pull coco/video-mapper:$DOCKER_APP_VERSION'

ExecStart=/bin/bash -c '\
	docker run --rm --name %p-%i_$(uuidgen) -p 8080 \
	--memory="256m" \
	--env "Q_ADDR=http://%H:8080" \
	--env "Q_GROUP=videoMapper" \
	--env "Q_READ_TOPIC=NativeCmsPublicationEvents" \
	--env "Q_READ_QUEUE=kafka" \
	--env "Q_WRITE_TOPIC=CmsPublicationEvents" \
	--env "Q_WRITE_QUEUE=kafka" \
	coco/video-mapper:$DOCKER_APP_VERSION'

ExecStop=-/bin/bash -c 'docker stop -t 3 "$(docker ps -q --filter=name=%p-%i_)"'
Restart=on-failure
RestartSec=60

[X-Fleet]
Conflicts=video-mapper@*.service

