[Unit]
Description=Vulcand configuration builder.
Requires=docker.socket
After=docker.socket

[Service]
Environment="DOCKER_APP_VERSION=latest"
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStartPre=/bin/bash -c "/usr/bin/docker pull coco/vulcan-config-builder:$DOCKER_APP_VERSION"
ExecStart=/bin/bash -c "/usr/bin/docker run --rm --name=%p -P --env="ETCD_PEERS=http://$HOSTNAME:2379" coco/vulcan-config-builder:$DOCKER_APP_VERSION"
ExecStopPost=-/usr/bin/docker rm -f %p
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target

