[Unit]
Description=Wordpress Transformer 
After=docker.service
Requires=docker.service
Wants=wp-transformer-sidekick@%i.service

[Service]
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill %p-%i > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm %p-%i > /dev/null 2>&1'
ExecStartPre=/usr/bin/docker pull coco/wp-transformer
ExecStart=/bin/sh -c '\
    export WORDPRESS_CONTENTAPI_KEY=$(/usr/bin/etcdctl get /ft/_credentials/wp); \
    /usr/bin/docker run --rm --name %p-%i -p 8080 -p 8081 -e "WORDPRESS_CONTENTAPI_KEY=$WORDPRESS_CONTENTAPI_KEY" coco/wp-transformer' 
ExecStop=/usr/bin/docker stop -t 3 %p-%i

[X-Fleet]
Conflicts=wp-transformer@*.service
