[Unit]
Description=Aggregate Healthcheck
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=600
ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i
ExecStartPre=/usr/bin/docker pull coco/coco-aggregate-healthcheck

ExecStart=/bin/bash -c 'docker run --rm --name %p-%i -p 8080 \
	--env="ETCD_PEERS=http://$HOSTNAME:4001" \
	--env="KEY_PREFIX=/vulcand/frontends" \
	--env="VULCAND_ADDRESS=$HOSTNAME:8080" \
	--env="EXCLUDE_SERVICES=aggregate-healthcheck,repo-mirror,methodeapi" \
	--env="HOSTNAME=cluster-elb-1694467668.eu-west-1.elb.amazonaws.com" \
	coco/coco-aggregate-healthcheck'

ExecStop=/usr/bin/docker stop -t 3 %p-%i

[X-Fleet]
Conflicts=aggregate-healthcheck@*.service
