[Unit]
Description=Aggregate Healthcheck
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=600
ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i
ExecStartPre=/usr/bin/docker pull up-registry.ft.com/coco/coco-aggregate-healthcheck

ExecStart=/bin/bash -c 'docker run --rm --name %p-%i -p 8080 \
	--env="ETCD_PEERS=http://$HOSTNAME:2379" \
	--env="KEY_PREFIX=/ft/healthcheck" \
	--env="VULCAND_ADDRESS=$HOSTNAME:8080" \
	up-registry.ft.com/coco/coco-aggregate-healthcheck'

ExecStop=/usr/bin/docker stop -t 3 %p-%i

[X-Fleet]
Conflicts=aggregate-healthcheck@*.service
