[Unit]
Description=Annotations API Sidekick
PartOf=annotations-api@%i.service
After=annotations-api@%i.service

[Service]

ExecStart=/bin/sh -c "\
  etcdctl set /vulcand/backends/annotations-api/backend '{\"Type\": \"http\"}'; \
  etcdctl set /vulcand/frontends/annotations-api/frontend '{\"Type\": \"http\", \"BackendId\": \"annotations-api\", \"Route\": \"PathRegexp(`/content/.*/annotations.*`) && Host(`annotations-api`)\"}'; \
  etcdctl setdir /vulcand/backends/annotations-api/servers --ttl 60; \
  \
  etcdctl set /vulcand/frontends/annotations-api-health/frontend \"{\\\"Type\\\":\\\"http\\\", \\\"BackendId\\\":\\\"annotations-api\\\", \\\"Route\\\":\\\"Path(\`/health/annotations-api/__health\`)\\\"}\"; \
  etcdctl set /vulcand/frontends/annotations-api-health/middlewares/rewrite \"{\\\"Id\\\":\\\"rewrite\\\", \\\"Type\\\":\\\"rewrite\\\", \\\"Priority\\\":1, \\\"Middleware\\\": {\\\"Regexp\\\":\\\"/health/annotations-api(.*)\\\", \\\"Replacement\\\":\\\"\$1\\\"}}\"; \
  \
  while true; do \
    export ANNOTATIONS_API_PORT=$(echo $(/usr/bin/docker port annotations-api-%i 8080) | cut -d':' -f2); \
    etcdctl set /services/api-policy-component/%i/healthcheck /__health --ttl 60; \
    etcdctl set /vulcand/backends/annotations-api/servers/srv%i \"{\\\"url\\\": \\\"http://$HOSTNAME:$ANNOTATIONS_API_PORT\\\"}\"; \
    sleep 45; \
  done"
ExecStop=/usr/bin/etcdctl rm --recursive /services/annotations-api/%i
ExecStop=/usr/bin/etcdctl rm --recursive /vulcand/backends/annotations-api/servers/srv%i

[X-Fleet]
MachineOf=annotations-api@%i.service
