[Unit]
Description=Annotations API 
After=vulcan.service
Requires=docker.service
After=registry.service
Wants=registry.service

[Service]
TimeoutStartSec=600
ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i
ExecStartPre=/usr/bin/docker pull coco/annotations-api

ExecStart=/bin/sh -c '\
  export GRAPHDB_PATH=$(/usr/bin/etcdctl get /services/graphdb/path); \
  /usr/bin/docker run --rm --name %p-%i -p 8080 -p 8081 \
    -e "TRIPLE_STORE_URL=http://$HOSTNAME:8080$GRAPHDB_PATH" \
    -e "ENV_HOST=coco.api.ft.com" \
    coco/annotations-api'

ExecStop=/usr/bin/docker stop -t 3 %p-%i

[X-Fleet]
Conflicts=annotations-api@*.service
