[Unit]
Description=Binary Ingester Sidekick
PartOf=binary-ingester@%i.service
After=binary-ingester@%i.service

[Service]
Environment="ELB_HOSTNAME=cluster-elb-1694467668.eu-west-1.elb.amazonaws.com"
ExecStart=/bin/sh -c "\
  export HOST_IP=$HOSTNAME; \
  etcdctl set /vulcand/backends/binary-ingester/backend '{\"Type\": \"http\"}'; \
  etcdctl set /vulcand/frontends/binary-ingester/frontend '{\"Type\": \"http\", \"BackendId\": \"binary-ingester\", \"Route\": \"Host(`binary-ingester`)\"}'; \
  \
  etcdctl set /vulcand/frontends/binary-ingester-health/frontend \"{\\\"Type\\\":\\\"http\\\", \\\"BackendId\\\":\\\"binary-ingester\\\", \\\"Route\\\":\\\"Host(\`$ELB_HOSTNAME\`) && Path(\`/health/binary-ingester/__health\`)\\\"}\"; \
  etcdctl set /vulcand/frontends/binary-ingester-health/middlewares/rewrite \"{\\\"Id\\\":\\\"rewrite\\\", \\\"Type\\\":\\\"rewrite\\\", \\\"Priority\\\":1, \\\"Middleware\\\": {\\\"Regexp\\\":\\\"/health/binary-ingester(.*)\\\", \\\"Replacement\\\":\\\"\$1\\\"}}\"; \
  \
  while true; do \
    export PORT=$(echo $(/usr/bin/docker port binary-ingester-%i 8080) | cut -d':' -f2); \
    etcdctl set /services/binary-ingester/%i/host '%H' --ttl 60; \
    etcdctl set /services/binary-ingester/%i/app_port $(echo $(/usr/bin/docker port binary-ingester-%i 8080) | cut -d':' -f2) --ttl 60; \
    etcdctl set /services/binary-ingester/%i/admin_port $(echo $(/usr/bin/docker port binary-ingester-%i 8081) | cut -d':' -f2) --ttl 60; \
    etcdctl set /services/binary-ingester/%i/healthcheck /__health --ttl 60; \
    etcdctl set /vulcand/backends/binary-ingester/servers/srv%i \"{\\\"url\\\": \\\"http://$HOST_IP:$PORT\\\"}\" --ttl 60; \
    sleep 45; \
  done"
ExecStop=/usr/bin/etcdctl rm --recursive /services/binary-ingester/%i
ExecStop=/usr/bin/etcdctl rm /vulcand/backends/binary-ingester/servers/srv%i

[X-Fleet]
MachineOf=binary-ingester@%i.service

