[Unit]
Description=CMS Notifier Sidekick
PartOf=cms-notifier@%i.service
After=cms-notifier@%i.service

[Service]
ExecStart=/bin/sh -c "\
  export HOST_IP=$(/usr/bin/ifconfig eth0 | sed -n '2 p' | awk '{print $2}' | cut -d':' -f2); \
  etcdctl set /vulcand/backends/cms-notifier/backend '{\"Type\": \"http\"}' ; \
  etcdctl set /vulcand/frontends/cms-notifier/frontend \"{\\\"Type\\\": \\\"http\\\", \\\"BackendId\\\": \\\"cms-notifier\\\", \\\"Route\\\": \\\"PathRegexp(\`/.*\`) && Host(\`cms-notifier\`)\\\"}\" ; \
  \
  etcdctl set /vulcand/frontends/cms-notifier-health/frontend \"{\\\"Type\\\":\\\"http\\\", \\\"BackendId\\\":\\\"cms-notifier\\\", \\\"Route\\\":\\\"Host(\`$ELB_HOSTNAME\`) && Path(\`/health/cms-notifier/__health\`)\\\"}\"; \
  etcdctl set /vulcand/frontends/cms-notifier-health/middlewares/rewrite \"{\\\"Id\\\":\\\"rewrite\\\", \\\"Type\\\":\\\"rewrite\\\", \\\"Priority\\\":1, \\\"Middleware\\\": {\\\"Regexp\\\":\\\"/health/cms-notifier(.*)\\\", \\\"Replacement\\\":\\\"\$1\\\"}}\"; \
  \
  while true; do \
    export CMS_NOTIFIER_PORT=$(echo $(/usr/bin/docker port cms-notifier-%i 8080) | cut -d':' -f2); \
    etcdctl set /services/cms-notifier/%i/host '%H' --ttl 60; \
    etcdctl set /services/cms-notifier/%i/app_port $(echo $(/usr/bin/docker port cms-notifier-%i 8080) | cut -d':' -f2) --ttl 60; \
    etcdctl set /services/cms-notifier/%i/admin_port $(echo $(/usr/bin/docker port cms-notifier-%i 8081) | cut -d':' -f2) --ttl 60; \
    etcdctl set /vulcand/backends/cms-notifier/servers/srv%i \"{\\\"url\\\": \\\"http://$HOST_IP:$CMS_NOTIFIER_PORT\\\"}\" --ttl 60; \
    sleep 45; \
  done"
ExecStop=/usr/bin/etcdctl rm --recursive /services/cms-notifier/%i
ExecStop=/usr/bin/etcdctl rm /vulcand/backends/cms-notifier/servers/srv%i

[X-Fleet]
MachineOf=cms-notifier@%i.service
