[Unit]
Description=Elasticsearch Sidekick
BindsTo=elasticsearch@%i.service
After=elasticsearch@%i.service

[Service]
ExecStart=/bin/sh -c "\
  while true; do \
    export PORT=$(/usr/bin/docker port elasticsearch-%i 9200 | cut -d':' -f2); \
    etcdctl mkdir /ft/config/elasticsearch/%i --ttl 600; \
    etcdctl set /ft/config/elasticsearch/%i/host \"$HOSTNAME\" --ttl 600; \
    etcdctl set /ft/config/elasticsearch/%i/port \"$PORT\" --ttl 600; \
    sleep 120; \
  done"
ExecStop=/usr/bin/etcdctl rm --recursive /ft/config/elasticsearch/%i

[X-Fleet]
MachineOf=elasticsearch@%i.service

