[Unit]
Description=Register vulcan instances with the cluster ELB
Requires=docker.service
After=docker.service

[Service]
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/bin/sh -c '\
  AWS_ACCESS_KEY=$(/usr/bin/etcdctl get /ft/_credentials/aws/aws_access_key_id); \
  AWS_SECRET_KEY=$(/usr/bin/etcdctl get /ft/_credentials/aws/aws_secret_access_key); \
  ELB_NAME=$(etcdctl get /ft/_credentials/elb_name); \
  /usr/bin/docker run --rm --name %p -e AWS_ACCESS_KEY=$AWS_ACCESS_KEY -e AWS_SECRET_KEY=$AWS_SECRET_KEY -e AWS_REGION=eu-west-1 -e ELB_NAME=$ELB_NAME quay.io/coreos/elb-presence'
ExecStop=/usr/bin/docker stop %p

[X-Fleet]
Global=true
