[Unit]
Description=Enriched Content Read API Sidekick
BindsTo=enriched-content-read-api@%i.service
After=enriched-content-read-api@%i.service

[Service]
ExecStart=/bin/sh -c "\
  etcdctl set /vulcand/backends/enriched-content-read-api/backend '{\"Type\": \"http\"}'; \
  etcdctl set /vulcand/frontends/enriched-content-read-api/frontend '{\"Type\": \"http\", \"BackendId\": \"enriched-content-read-api\", \"Route\": \"PathRegexp(`/enrichedcontent/.*`) && Host(`enriched-content-read-api`)\"}'; \
  etcdctl setdir /services/enriched-content-read-api --ttl 60; \
  etcdctl setdir /vulcand/backends/enriched-content-read-api/servers --ttl 60; \
  while true; do \
    export ENRICHED_CONTENT_READ_API_PORT=$(echo $(/usr/bin/docker port enriched-content-read-api-%i 8080) | cut -d':' -f2); \
    etcdctl set /vulcand/backends/enriched-content-read-api/servers/srv%i \"{\\\"url\\\": \\\"http://$HOSTNAME:$ENRICHED_CONTENT_READ_API_PORT\\\"}\"; \
    sleep 45; \
  done"
ExecStop=/usr/bin/etcdctl rm --recursive /services/enriched-content-read-api/%i
ExecStop=/usr/bin/etcdctl rm --recursive /vulcand/backends/enriched-content-read-api/servers/srv%i

[X-Fleet]
MachineOf=enriched-content-read-api@%i.service
