[Unit]
Description=FastFTTransformer
After=docker.service
Requires=docker.service
After=registry.service
Wants=registry.service

[Service]
TimeoutStartSec=600
ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i
ExecStartPre=/usr/bin/docker pull coco/fastft-transformer
ExecStart=/usr/bin/docker run --name %p-%i -p 8080 -p 8081 coco/fastft-transformer
ExecStop=/usr/bin/docker stop %p-%i

[X-Fleet]
Conflicts=fastftxf@*.service
