[Unit]
Description=FastFTTransformer
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=600
ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i
ExecStartPre=/usr/bin/docker pull up-registry.ft.com/coco/fastft-transformer
ExecStart=/usr/bin/docker run --name %p-%i -p 8080 -p 8081 up-registry.ft.com/coco/fastft-transformer
ExecStop=/usr/bin/docker stop %p-%i

[X-Fleet]
Conflicts=fastftxf@*.service
