[Unit]
Description=FastFTXF Sidekick
PartOf=fastftxf@%i.service
After=fastftxf@%i.service

[Service]
Environment="ELB_HOSTNAME=cluster-elb-1694467668.eu-west-1.elb.amazonaws.com"
ExecStart=/bin/sh -c " \
  export HOST_IP=$(/usr/bin/ifconfig docker0 | sed -n '2 p' | awk '{print $2}' | cut -d':' -f2); \
  while true; do \
    export FASTFT_TRANSFORMER_PORT=$(echo $(/usr/bin/docker port %p-%i 8080) | cut -d':' -f2); \
    etcdctl set /services/fastftxf/%i/host '%H' --ttl 60; \
    etcdctl set /services/fastftxf/%i/app_port $(echo $(/usr/bin/docker port fastftxf-%i 8080) | cut -d':' -f2) --ttl 60; \
    etcdctl set /services/fastftxf/%i/admin_port $(echo $(/usr/bin/docker port fastftxf-%i 8081) | cut -d':' -f2) --ttl 60; \
    etcdctl set /vulcand/backends/fastft-transformer/backend '{\"Type\": \"http\"}' --ttl 60; \
    etcdctl set /vulcand/backends/fastft-transformer/servers/srv%i \"{\\\"url\\\": \\\"http://$HOST_IP:$FASTFT_TRANSFORMER_PORT\\\"}\" --ttl 60; \
    etcdctl set /vulcand/frontends/fastft-transformer/frontend '{\"Type\": \"http\", \"BackendId\": \"fastft-transformer\", \"Route\": \"PathRegexp(`/.*`) && Host(`fastft-transformer`)\"}' --ttl 60; \
    etcdctl set /vulcand/frontends/fastft-transformer-health/frontend \"{\\\"Type\\\":\\\"http\\\", \\\"BackendId\\\":\\\"nativerw\\\", \\\"Route\\\":\\\"Host(\`$ELB_HOSTNAME\`) && Path(\`/health/fastft-transformer/__health\`)\\\"}\"; \
    etcdctl set /vulcand/frontends/fastft-transformer-health/middlewares/rewrite \"{\\\"Id\\\":\\\"rewrite\\\", \\\"Type\\\":\\\"rewrite\\\", \\\"Priority\\\":1, \\\"Middleware\\\": {\\\"Regexp\\\":\\\"/health/fastft-transformer(.*)\\\", \\\"Replacement\\\":\\\"\$1\\\"}}\"; \
    sleep 45; \
  done"
ExecStop=/usr/bin/etcdctl rm /services/fastftxf@%i
ExecStop=/usr/bin/etcdctl rm /vulcand/backends/fastft-transformer/backend
ExecStop=/usr/bin/etcdctl rm /vulcand/backends/fastft-transformer/servers/srv%i
ExecStop=/usr/bin/etcdctl rmdir /vulcand/backends/fastft-transformer/servers
ExecStop=/usr/bin/etcdctl rmdir /vulcand/backends/fastft-transformer
ExecStop=/usr/bin/etcdctl rm /vulcand/frontends/fastft-transformer/frontend
ExecStop=/usr/bin/etcdctl rmdir /vulcand/frontends/fastft-transformer

[X-Fleet]
MachineOf=fastftxf@%i.service

