[Unit]
Description=GraphDB Worker
After=docker.service
Requires=docker.service
Wants=graphdb-worker-sidekick@%i.service

[Service]
TimeoutStartSec=600
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill %p-%i > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm %p-%i > /dev/null 2>&1'
ExecStartPre=/usr/bin/docker pull coco/graphdb
ExecStart=/usr/bin/docker run --rm --name %p-%i -v /vol/graphdb-worker:/var/lib/data -e "TRIPLE_STORE_TYPE=worker" -P coco/graphdb
ExecStop=/usr/bin/docker stop -t 3 %p-%i

[X-Fleet]
Conflicts=graphdb-??????@*.service
MachineMetadata=host_type=persistent
