[Unit]
Description=GraphDB Master Sidekick
BindsTo=graphdb-master@%i.service
After=graphdb-master@%i.service

[Service]
ExecStart=/bin/sh -c "\
  export GRAPHDB_MASTER_PATH=/openrdf-sesame/repositories/s-metadata; \
  etcdctl set /services/graphdb/path $GRAPHDB_MASTER_PATH; \
  etcdctl set /vulcand/backends/graphdb-master/backend '{\"Type\": \"http\"}'; \
  etcdctl set /vulcand/frontends/graphdb-master/frontend \"{\\\"Type\\\": \\\"http\\\", \\\"BackendId\\\": \\\"graphdb-master\\\", \\\"Route\\\": \\\"PathRegexp(\`$GRAPHDB_MASTER_PATH.*\`)\\\"}\"; \
  etcdctl setdir /services/graphdb/master --ttl 60; \
  etcdctl setdir /vulcand/backends/graphdb-master/servers --ttl 60; \
  while true; do \
    export GRAPHDB_MASTER_PORT=$(echo $(/usr/bin/docker port graphdb-master-%i 8080) | cut -d':' -f2); \
    export GRAPHDB_MASTER_URL=http://$HOSTNAME:$GRAPHDB_MASTER_PORT$GRAPHDB_MASTER_PATH; \
    etcdctl set /services/graphdb/master/%i/url $GRAPHDB_MASTER_URL; \
    etcdctl set /vulcand/backends/graphdb-master/servers/srv%i \"{\\\"url\\\": \\\"$GRAPHDB_MASTER_URL\\\"}\"; \
    sleep 45; \
  done"
ExecStop=/usr/bin/etcdctl rm --recursive /services/graphdb/master/%i
ExecStop=/usr/bin/etcdctl rm --recursive /vulcand/backends/graphdb-master/servers/srv%i

[X-Fleet]
MachineOf=graphdb-master@%i.service
