[Unit]
Description=GraphDB Worker Sidekick
PartOf=graphdb-worker@%i.service
ReloadPropagatedFrom=graphdb-worker@%i.service
After=graphdb-worker@%i.service

[Service]
ExecStart=/bin/sh -c "\
  export GRAPHDB_WORKER_PATH=/openrdf-sesame/repositories/s-metadata; \
  etcdctl setdir /services/graphdb/worker --ttl 60; \
  while true; do \
    export GRAPHDB_WORKER_PORT=$(echo $(/usr/bin/docker port graphdb-worker-%i 8080) | cut -d':' -f2); \
    export GRAPHDB_WORKER_URL=http://$HOSTNAME:$GRAPHDB_WORKER_PORT$GRAPHDB_WORKER_PATH; \
    etcdctl set /services/graphdb/worker/%i/url $GRAPHDB_WORKER_URL; \
    sleep 45; \
  done"
ExecStop=/usr/bin/etcdctl rm --recursive /services/graphdb/worker/%i

[X-Fleet]
MachineOf=graphdb-worker@%i.service
