[Unit]
Description=GraphDB Master
After=docker.service
Requires=docker.service
Wants=graphdb-master-sidekick@%i.service

[Service]
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill %p-%i > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm %p-%i > /dev/null 2>&1'
ExecStartPre=/usr/bin/docker pull coco/graphdb
ExecStart=/usr/bin/docker run --rm --name %p-%i -v /vol/graphdb-master:/var/lib/data -e "TRIPLE_STORE_TYPE=master" -P coco/graphdb
ExecStop=/usr/bin/docker stop -t 3 %p-%i

[X-Fleet]
Conflicts=graphdb-??????@*.service
MachineMetadata=host_type=persistent
