[Unit]
Description=GraphDB Cluster Manager
After=registry.service
Wants=registry.service

[Service]
TimeoutStartSec=600
ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i
ExecStartPre=/usr/bin/docker pull coco/graphdb-cluster-manager
ExecStart=/bin/bash -c "docker run --rm --name %p-%i -e \"PEERS=http://$HOSTNAME:4001\" coco/graphdb-cluster-manager"
ExecStop=/usr/bin/docker stop -t 3 %p-%i

