[Unit]
Description=Job to clean up docker images + containers on hosts
Wants=docker.socket

[Service]
Type=oneshot
ExecStart=-/bin/sh -c "docker run --rm -v /usr/bin/docker:/usr/bin/docker -v /var/run/docker.sock:/var/run/docker.sock coco/coco-docker-gc;"
Nice=5
IOSchedulingClass=best-effort
IOSchedulingPriority=7

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true

