[Unit]
Description=Job to clean up docker images + containers on hosts
Requires=docker.service
Wants=docker.socket

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStartPre=/bin/bash -c "/usr/bin/docker pull spotify/docker-gc"
ExecStart=/bin/sh -c "docker run --rm -v /var/run/docker.sock:/var/run/docker.sock spotify/docker-gc"
Nice=5
IOSchedulingClass=best-effort
IOSchedulingPriority=7

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true

