[Unit]
Description=Ingester semantic store sidekick
PartOf=ingester-semantic@%i.service
After=ingester-semantic@%i.service

[Service]
Environment="ELB_HOSTNAME=cluster-elb-1694467668.eu-west-1.elb.amazonaws.com"
ExecStart=/bin/sh -c "\
  export HOST_IP=$HOSTNAME; \
  etcdctl set /vulcand/backends/ingester-semantic/backend '{\"Type\": \"http\"}'; \
  etcdctl set /vulcand/frontends/ingester-semantic/frontend '{\"Type\": \"http\", \"BackendId\": \"ingester-semantic\", \"Route\": \"Host(`ingester-semantic`)\"}'; \
  \
  etcdctl set /vulcand/frontends/ingester-semantic-health/frontend \"{\\\"Type\\\":\\\"http\\\", \\\"BackendId\\\":\\\"ingester-semantic\\\", \\\"Route\\\":\\\"Host(\`$ELB_HOSTNAME\`) && Path(\`/health/ingester-semantic/__health\`)\\\"}\"; \
  etcdctl set /vulcand/frontends/ingester-semantic-health/middlewares/rewrite \"{\\\"Id\\\":\\\"rewrite\\\", \\\"Type\\\":\\\"rewrite\\\", \\\"Priority\\\":1, \\\"Middleware\\\": {\\\"Regexp\\\":\\\"/health/ingester-semantic(.*)\\\", \\\"Replacement\\\":\\\"\$1\\\"}}\"; \
  \
  while true; do \
    export PORT=$(echo $(/usr/bin/docker port ingester-semantic-%i 8080) | cut -d':' -f2); \
    etcdctl set /services/ingester-semantic/%i/host '%H' --ttl 60; \
    etcdctl set /services/ingester-semantic/%i/app_port $(echo $(/usr/bin/docker port ingester-semantic-%i 8080) | cut -d':' -f2) --ttl 60; \
    etcdctl set /services/ingester-semantic/%i/admin_port $(echo $(/usr/bin/docker port ingester-semantic-%i 8081) | cut -d':' -f2) --ttl 60; \
    etcdctl set /vulcand/backends/ingester-semantic/servers/srv%i \"{\\\"url\\\": \\\"http://$HOST_IP:$PORT\\\"}\" --ttl 60; \
    sleep 45; \
  done"
ExecStop=/usr/bin/etcdctl rm --recursive /services/ingester-semantic/%i
ExecStop=/usr/bin/etcdctl rm /vulcand/backends/ingester-semantic/servers/srv%i

[X-Fleet]
MachineOf=ingester-semantic@%i.service

