[Unit]
Description=Kafka
After=docker.service zookeeper.service
Requires=docker.service zookeeper.service

[Service]
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill %p > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm %p > /dev/null 2>&1'
ExecStartPre=/usr/bin/docker pull wurstmeister/kafka:0.8.2.0
#IP needs to be editted to grep out on the interface of the host vm
ExecStart=/bin/bash -c "\
  export IP=$(/usr/bin/ifconfig eth0 | sed -n '2 p' | awk '{print $2}' | cut -d':' -f2); \
  /usr/bin/docker run --rm --name %p -p 9092:9092 --link zookeeper:zk --env \"KAFKA_ADVERTISED_HOST_NAME=$IP\" --env=\"KAFKA_MESSAGE_MAX_BYTES=16777216\" --env=\"KAFKA_REPLICA_FETCH_MAX_BYTES=16777216\" -v /var/run/docker.sock:/var/run/docker.sock wurstmeister/kafka:0.8.2.0"
ExecStop=/usr/bin/docker stop %p
ExecStartPost=/bin/sh -c "\
  KAFKA_IP=$(/usr/bin/ifconfig eth0 | sed -n '2 p' | awk '{print $2}' | cut -d':' -f2); \
  etcdctl set /ft/config/kafka/ip $KAFKA_IP; \
  etcdctl set /ft/config/kafka/port 9092;"
Restart=on-failure
RestartSec=120

[X-Fleet]
Conflicts=kafka.service
MachineOf=zookeeper.service
