[Unit]
Description=Methode Image Binary Transformer
PartOf=methode-image-binary-transformer@%i.service
After=methode-image-binary-transformer@%i.service

[Service]
ExecStartPre=/bin/sh -c "\
  export METHODE_IMAGE_BINARY_TRANSFORMER_IP=$(/usr/bin/ifconfig eth0 | sed -n '2 p' | awk '{print $2}' | cut -d':' -f2); \
  export _IP=$(/usr/bin/ifconfig eth0 | sed -n '2 p' | awk '{print $2}' | cut -d':' -f2); \
  etcdctl set /vulcand/backends/methode-image-binary-transformer/backend '{\"Type\": \"http\"}' ; \
  etcdctl set /vulcand/backends/methode-image-binary-transformer-admin/backend '{\"Type\": \"http\"}' ; \
  etcdctl set /vulcand/frontends/methode-image-binary-transformer/frontend '{\"Type\": \"http\", \"BackendId\": \"methode-image-binary-transformer\", \"Route\": \"PathRegexp(`/.*`) && Host(`methode-image-binary-transformer`)\"}'; \
  etcdctl set /vulcand/frontends/methode-image-binary-transformer-admin/frontend '{\"Type\": \"http\", \"BackendId\": \"methode-image-binary-transformer-admin\", \"Route\": \"PathRegexp(`/.*`) && Host(`methode-image-binary-transformer-admin`)\"}'; \
  \
  etcdctl set /vulcand/frontends/methode-image-binary-transformer-health/frontend \"{\\\"Type\\\":\\\"http\\\", \\\"BackendId\\\":\\\"methode-image-binary-transformer\\\", \\\"Route\\\":\\\"Path(\`/health/methode-image-binary-transformer/__health\`)\\\"}\"; \
  etcdctl set /vulcand/frontends/methode-image-binary-transformer-health/middlewares/rewrite \"{\\\"Id\\\":\\\"rewrite\\\", \\\"Type\\\":\\\"rewrite\\\", \\\"Priority\\\":1, \\\"Middleware\\\": {\\\"Regexp\\\":\\\"/health/methode-image-binary-transformer(.*)\\\", \\\"Replacement\\\":\\\"\$1\\\"}}\";"

ExecStart=/bin/sh -c "\
  export METHODE_IMAGE_BINARY_TRANSFORMER_IP=$(/usr/bin/ifconfig eth0 | sed -n '2 p' | awk '{print $2}' | cut -d':' -f2); \
  while true; do \
    export METHODE_IMAGE_BINARY_TRANSFORMER_PORT=$(/usr/bin/docker port methode-image-binary-transformer-%i 8080 | cut -d':' -f2); \
    export ADMIN_METHODE_IMAGE_BINARY_TRANSFORMER_PORT=$(/usr/bin/docker port methode-image-binary-transformer-%i 8081 | cut -d':' -f2); \
    etcdctl set /services/methode-image-binary-transformer/%i/host '%H' --ttl 60; \
    etcdctl set /services/methode-image-binary-transformer/%i/app_port $METHODE_IMAGE_BINARY_TRANSFORMER_PORT --ttl 60; \
    etcdctl set /services/methode-image-binary-transformer/%i/admin_port $ADMIN_METHODE_IMAGE_BINARY_TRANSFORMER_PORT --ttl 60; \
    etcdctl set /services/methode-image-binary-transformer/%i/healthcheck /__health --ttl 60; \
    etcdctl set /vulcand/backends/methode-image-binary-transformer/servers/srv%i \"{\\\"url\\\": \\\"http://$METHODE_IMAGE_BINARY_TRANSFORMER_IP:$METHODE_IMAGE_BINARY_TRANSFORMER_PORT\\\"}\" --ttl 60; \
    etcdctl set /vulcand/backends/methode-image-binary-transformer-admin/servers/srv%i \"{\\\"url\\\": \\\"http://$METHODE_IMAGE_BINARY_TRANSFORMER_IP:$ADMIN_METHODE_IMAGE_BINARY_TRANSFORMER_PORT\\\"}\" --ttl 60; \
    sleep 45; \
  done"

ExecStop=/usr/bin/etcdctl rm --recursive /services/methode-image-binary-transformer/%i
ExecStop=/usr/bin/etcdctl rm /vulcand/backends/methode-image-binary-transformer/servers/srv%i
ExecStop=/usr/bin/etcdctl rm /vulcand/backends/methode-image-binary-transformer-admin/servers/srv%i

[X-Fleet]
MachineOf=methode-image-binary-transformer@%i.service
