[Unit]
Description=methode article transformer
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=600
ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i
ExecStartPre=/usr/bin/docker pull coco/methode-article-transformer

ExecStart=/bin/sh -c '\
  /usr/bin/docker run --rm --name %p-%i -p 8080 -p 8081 --env "SEMANTIC_READER=%H:8080" --env "METHODEAPI=%H:8080" coco/methode-article-transformer'

ExecStop=/usr/bin/docker stop -t 3 %p-%i

[X-Fleet]
Conflicts=coco/methode-article-transformer@*.service
