[Unit]
Description=Document store api sidekick
PartOf=methode-image-model-transformer-sidekick@%i.service
After=methode-image-model-transformer-sidekick@%i.service

[Service]
ExecStart=/bin/sh -c "\
  export HOST_IP=$HOSTNAME; \
  etcdctl set /vulcand/backends/methode-image-model-transformer/backend '{\"Type\": \"http\"}'; \
  etcdctl set /vulcand/frontends/methode-image-model-transformer/frontend '{\"Type\": \"http\", \"BackendId\": \"methode-image-model-transformer\", \"Route\": \"PathRegexp(`/.*`) && Host(`methode-image-model-transformer`)\"}'; \
  while true; do \
    export PORT=$(echo $(/usr/bin/docker port methode-image-model-transformer-%i 8080) | cut -d':' -f2); \
    etcdctl set /services/methode-image-model-transformer/%i/host '%H' --ttl 60; \
    etcdctl set /services/methode-image-model-transformer/%i/app_port $(echo $(/usr/bin/docker port methode-image-model-transformer-%i 8080) | cut -d':' -f2) --ttl 60; \
    etcdctl set /services/methode-image-model-transformer/%i/admin_port $(echo $(/usr/bin/docker port methode-image-model-transformer-%i 8081) | cut -d':' -f2) --ttl 60; \
    etcdctl set /vulcand/backends/methode-image-model-transformer/servers/srv%i \"{\\\"url\\\": \\\"http://$HOST_IP:$PORT\\\"}\" --ttl 60; \
    sleep 45; \
  done"
ExecStop=/usr/bin/etcdctl rm --recursive /services/methode-image-model-transformer/%i
ExecStop=/usr/bin/etcdctl rm /vulcand/backends/methode-image-model-transformer/servers/srv%i

[X-Fleet]
MachineOf=methode-image-model-transformer@%i.service

