[Unit]
Description=MongoDB cluster configurator
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=600
ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i
ExecStartPre=/usr/bin/docker pull coco/coco-mongodb-configurator
ExecStart=/bin/bash -c "docker run --rm --name %p-%i --env=\"PEERS=http://$HOSTNAME:2379\" coco/coco-mongodb-configurator"
ExecStop=/usr/bin/docker stop -t 3 %p-%i

