[Unit]
Description=MongoDB 
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i
ExecStartPre=/usr/bin/docker pull coco/mongodb
ExecStart=/usr/bin/docker run --rm --name %p-%i -v /vol/mongodb:/data/db -P coco/mongodb
ExecStop=/usr/bin/docker stop -t 3 %p-%i

[X-Fleet]
Conflicts=mongodb@*.service
MachineMetadata=host_type=persistent
