[Unit]
Description=Ontology Manager
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=600
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill %p-%i > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm %p-%i > /dev/null 2>&1'
ExecStartPre=/usr/bin/docker pull coco/ontology-manager
ExecStart=/bin/sh -c '\
            export GRAPHDB_PATH=$(/usr/bin/etcdctl get /services/graphdb/path); \
            /usr/bin/docker run --rm --name %p-%i -e "GRAPHDB_URL=http://$HOSTNAME:8080$GRAPHDB_PATH" coco/ontology-manager'
ExecStop=/usr/bin/docker stop -t 3 %p-%i

[X-Fleet]
Conflicts=ontology-manager@*.service
