[Unit]
Description=Semantic reader
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i
ExecStartPre=/usr/bin/docker pull coco/semantic-reader

ExecStart=/bin/sh -c '\
  /usr/bin/docker run --rm --name %p-%i -p 8080 -p 8081 --env "OWLIM_HOST=$HOSTNAME" --env "OWLIM_PORT=8080" coco/semantic-reader;'
ExecStop=/usr/bin/docker stop -t 3 %p-%i

[X-Fleet]
Conflicts=%p@*.service
