[Unit]
Description=Semantic reader api sidekick
PartOf=semantic-reader@%i.service
After=semantic-reader@%i.service

[Service]

ExecStart=/bin/sh -c "\
  export HOST_IP=$HOSTNAME; \
  etcdctl set /vulcand/frontends/semantic-reader/frontend '{\"Type\": \"http\", \"BackendId\": \"semantic-reader\", \"Route\": \"PathRegexp(`/content/.*`) && Host(`public-services`)\"}'; \
  etcdctl set /vulcand/backends/semantic-reader/backend '{\"Type\": \"http\"}'; \
  \
  etcdctl set /vulcand/frontends/semantic-reader-health/frontend \"{\\\"Type\\\":\\\"http\\\", \\\"BackendId\\\":\\\"semantic-reader\\\", \\\"Route\\\":\\\"Path(\`/health/semantic-reader/__health\`)\\\"}\"; \
  etcdctl set /vulcand/frontends/semantic-reader-health/middlewares/rewrite \"{\\\"Id\\\":\\\"rewrite\\\", \\\"Type\\\":\\\"rewrite\\\", \\\"Priority\\\":1, \\\"Middleware\\\": {\\\"Regexp\\\":\\\"/health/semantic-reader(.*)\\\", \\\"Replacement\\\":\\\"\$1\\\"}}\"; \
  \
  while true; do \
    export SEMANTIC_READER_PORT=$(echo $(/usr/bin/docker port semantic-reader-%i 8080) | cut -d':' -f2); \
    etcdctl set /services/semantic-reader/%i/host '%H' --ttl 60; \
    etcdctl set /services/semantic-reader/%i/app_port $(echo $(/usr/bin/docker port semantic-reader-%i 8080) | cut -d':' -f2) --ttl 60; \
    etcdctl set /services/semantic-reader/%i/admin_port $(echo $(/usr/bin/docker port semantic-reader-%i 8081) | cut -d':' -f2) --ttl 60; \
    etcdctl set /vulcand/backends/semantic-reader/servers/srv%i \"{\\\"url\\\": \\\"http://$HOST_IP:$SEMANTIC_READER_PORT\\\"}\" --ttl 60; \
    sleep 45; \
  done"
ExecStop=/usr/bin/etcdctl rm --recursive /services/semantic-reader/%i
ExecStop=/usr/bin/etcdctl rm /vulcand/backends/semantic-reader/servers/srv%i

[X-Fleet]
MachineOf=semantic-reader@%i.service

