[Unit]
Description=Skydns
Requires=docker.socket
After=docker.socket

[Service]
TimeoutStartSec=600
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStartPre=/bin/sh -c "docker history skynetservices/skydns:latest >/dev/null 2>&1 || docker pull skynetservices/skydns:latest"
ExecStartPre=/usr/bin/etcdctl set /skydns/config "{\"ttl\":3600, \"nameservers\": [\"172.31.0.2:53\"]}"
ExecStart=/bin/bash -c "\
  export DOCKER_IP=$(/usr/bin/ifconfig docker0 | sed -n '2 p' | awk '{print $2}' | cut -d':' -f2); \
  docker run --rm --net=host -e SKYDNS_NAMESERVERS='172.31.0.2:53' -e SKYDNS_ADDR=$DOCKER_IP:53 -e ETCD_MACHINES='http://127.0.0.1:4001' --name %p skynetservices/skydns"
ExecStopPost=-/usr/bin/docker rm -f %p
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=host_type=monitor

