[Unit]
Description=Synthetic Image Publication Monitor AWS Sidekick
PartOf=synthetic-image-publication-monitor-aws@%i.service
ReloadPropagatedFrom=synthetic-image-publication-monitor-aws@%i.service
After=synthetic-image-publication-monitor-aws@%i.service

[Service]
ExecStart=/bin/sh -c "\
  etcdctl set /vulcand/backends/synthetic-image-publication-monitor-aws/backend '{\"Type\": \"http\"}'; \
  etcdctl set /vulcand/backends/synthetic-image-publication-monitor-aws-%i/backend '{\"Type\": \"http\"}'; \
  etcdctl set /vulcand/frontends/synthetic-image-publication-monitor-aws/frontend '{\"Type\": \"http\", \"BackendId\": \"synthetic-image-publication-monitor-aws\", \"Route\": \"PathRegexp(`/.*`) && Host(`syn-pub-aws`)\"}'; \
  etcdctl set /vulcand/frontends/synthetic-image-publication-monitor-aws-health-%i/frontend '{\"Type\":\"http\", \"BackendId\":\"synthetic-image-publication-monitor-aws-%i\", \"Route\":\"PathRegexp(`/health/synthetic-image-publication-monitor-aws-%i/.*`)\"}'; \
  etcdctl set /vulcand/frontends/synthetic-image-publication-monitor-aws-health-%i/middlewares/rewrite '{\"Id\":\"rewrite\", \"Type\":\"rewrite\", \"Priority\":1, \"Middleware\": {\"Regexp\":\"/health/synthetic-image-publication-monitor-aws-%i(.*)\", \"Replacement\":\"$1\"}}'; \
  etcdctl set /ft/healthcheck/synthetic-image-publication-monitor-aws-%i /__health; \
  while true; do \
    export PORT=$(echo $(/usr/bin/docker port synthetic-image-publication-monitor-aws-%i 8080) | cut -d':' -f2); \
    etcdctl set /vulcand/backends/synthetic-image-publication-monitor-aws/servers/srv%i \"{\\\"url\\\": \\\"http://$HOSTNAME:$PORT\\\"}\" --ttl 60; \
    etcdctl set /vulcand/backends/synthetic-image-publication-monitor-aws-%i/servers/srv%i \"{\\\"url\\\": \\\"http://$HOSTNAME:$PORT\\\"}\" --ttl 60; \
    sleep 45; \
  done"
ExecStop=/usr/bin/etcdctl rm --recursive /vulcand/backends/synthetic-image-publication-monitor-aws/servers/srv%i

[X-Fleet]
MachineOf=synthetic-image-publication-monitor-aws@%i.service
