[Unit]
Description=Synthetic Image Publication Monitor Sidekick
PartOf=synthetic-image-publication-monitor@%i.service
After=synthetic-image-publication-monitor@%i.service

[Service]
ExecStart=/bin/sh -c "\
  etcdctl set /vulcand/backends/synthetic-image-publication-monitor/backend '{\"Type\": \"http\"}'; \
  etcdctl set /vulcand/backends/synthetic-image-publication-monitor-%i/backend '{\"Type\": \"http\"}'; \
  etcdctl set /vulcand/frontends/synthetic-image-publication-monitor/frontend '{\"Type\": \"http\", \"BackendId\": \"synthetic-image-publication-monitor\", \"Route\": \"Host(`syn-pub`)\"}'; \
  etcdctl set /vulcand/frontends/synthetic-image-publication-monitor-health-%i/frontend '{\"Type\":\"http\", \"BackendId\":\"synthetic-image-publication-monitor-%i\", \"Route\":\"Path(`/health/synthetic-image-publication-monitor-%i/__health`)\"}'; \
  etcdctl set /vulcand/frontends/synthetic-image-publication-monitor-health-%i/middlewares/rewrite '{\"Id\":\"rewrite\", \"Type\":\"rewrite\", \"Priority\":1, \"Middleware\": {\"Regexp\":\"/health/synthetic-image-publication-monitor-%i(.*)\", \"Replacement\":\"$1\"}}'; \
  etcdctl set /ft/healthcheck/synthetic-image-publication-monitor-%i /__health; \

  while true; do \
    export PORT=$(echo $(/usr/bin/docker port synthetic-image-publication-monitor-%i 8080) | cut -d':' -f2); \
    etcdctl set /services/synthetic-image-publication-monitor/%i/host $HOSTNAME --ttl 60; \
    etcdctl set /services/synthetic-image-publication-monitor/%i/app_port $PORT --ttl 60; \
    etcdctl set /vulcand/backends/synthetic-image-publication-monitor/servers/srv%i \"{\\\"url\\\": \\\"http://$HOSTNAME:$PORT\\\"}\" --ttl 60; \
    etcdctl set /vulcand/backends/synthetic-image-publication-monitor-%i/servers/srv%i \"{\\\"url\\\": \\\"http://$HOSTNAME:$PORT\\\"}\" --ttl 60; \
    sleep 45; \
  done"
ExecStop=/usr/bin/etcdctl rm --recursive /services/synthetic-image-publication-monitor/%i
ExecStop=/usr/bin/etcdctl rm --recursive /vulcand/backends/synthetic-image-publication-monitor/servers/srv%i

[X-Fleet]
MachineOf=synthetic-image-publication-monitor@%i.service
