[Unit]
Description=System(CPU, memory, disk) healthcheck monitoring service
Requires=docker.socket
After=docker.socket

[Service]
Environment="DOCKER_APP_VERSION=latest"
Environment="HOST_DIR=host_dir"
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStartPre=/bin/bash -c "/usr/bin/docker pull up-registry.ft.com/coco/system-healthcheck:$DOCKER_APP_VERSION"
ExecStart=/bin/bash -c "/usr/bin/docker run --rm --name=%p -e HOST_DIR=$HOST_DIR -v /:/$HOST_DIR:ro up-registry.ft.com/coco/system-healthcheck:$DOCKER_APP_VERSION"
ExecStopPost=-/usr/bin/docker rm -f %p
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true

