[Unit]
Description=Varnish Sidekick
PartOf=varnish@%i.service
ReloadPropagatedFrom=varnish@%i.service
After=varnish@%i.service

[Service]
ExecStart=/bin/sh -c "\
  export VARNISH_IP=$HOSTNAME; \
  while true; do \
    export VARNISH_PORT=$(/usr/bin/docker port varnish-%i 80 | cut -d':' -f2); \
    etcdctl set /services/varnish/%i/host $VARNISH_IP --ttl 60; \
    etcdctl set /services/varnish/%i/port $VARNISH_PORT --ttl 60; \
    sleep 45; \
  done"
ExecStop=/usr/bin/etcdctl rm /services/varnish@%i

[X-Fleet]
MachineOf=varnish@%i.service

