[Unit]
Description=Varnish
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=600
ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i
ExecStartPre=/usr/bin/docker pull coco/varnish
ExecStart=/bin/sh -c '\
/usr/bin/docker run --rm --name %p-%i -p 80:80 --env "VARNISH_BACKEND_HOST=$HOSTNAME" --env "VARNISH_BACKEND_PORT=8080" --env "HOST_HEADER=api-policy-component" coco/varnish'
ExecStop=/usr/bin/docker stop -t 3 %p-%i

[X-Fleet]
Conflicts=%p@*.service
