[Unit]
Description=wp-transformer Sidekick
PartOf=wp-transformer@%i.service
After=wp-transformer@%i.service

[Service]
ExecStart=/bin/sh -c "\
  export HOST_IP=$(/usr/bin/ifconfig eth0 | sed -n '2 p' | awk '{print $2}' | cut -d':' -f2); \
  etcdctl set /vulcand/backends/wp-transformer/backend '{\"Type\": \"http\"}' ; \
  etcdctl set /vulcand/frontends/wp-transformer/frontend \"{\\\"Type\\\": \\\"http\\\", \\\"BackendId\\\": \\\"wp-transformer\\\", \\\"Route\\\": \\\"PathRegexp(\`/.*\`) && Host(\`wp-transformer\`)\\\"}\" ; \
  while true; do \
    export WP_TRANSFORMER_PORT=$(echo $(/usr/bin/docker port wp-transformer-%i 8080) | cut -d':' -f2); \
    etcdctl set /services/wp-transformer/%i/host '%H' --ttl 60; \
    etcdctl set /services/wp-transformer/%i/app_port $(echo $(/usr/bin/docker port wp-transformer-%i 8080) | cut -d':' -f2) --ttl 60; \
    etcdctl set /services/wp-transformer/%i/admin_port $(echo $(/usr/bin/docker port wp-transformer-%i 8081) | cut -d':' -f2) --ttl 60; \
    etcdctl set /vulcand/backends/wp-transformer/servers/srv%i \"{\\\"url\\\": \\\"http://$HOST_IP:$WP_TRANSFORMER_PORT\\\"}\" --ttl 60; \
    sleep 45; \
  done"
ExecStop=/usr/bin/etcdctl rm --recursive /services/wp-transformer/%i
ExecStop=/usr/bin/etcdctl rm /vulcand/backends/wp-transformer/servers/srv%i

[X-Fleet]
MachineOf=wp-transformer@%i.service

