[Unit]
Description=Zookeeper
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill %p > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm %p > /dev/null 2>&1'
ExecStartPre=/usr/bin/docker pull wurstmeister/zookeeper
ExecStart=/usr/bin/docker run --name %p -p 2181:2181 wurstmeister/zookeeper
ExecStartPost=/bin/sh -c "\
  ZOOKEEPER_IP=$(/usr/bin/ifconfig eth0 | sed -n '2 p' | awk '{print $2}' | cut -d':' -f2); \
  etcdctl set /ft/config/zookeeper/ip $ZOOKEEPER_IP; \
  etcdctl set /ft/config/zookeeper/port 2181;"
ExecStop=/usr/bin/docker stop %p
Restart=on-failure
RestartSec=120

[X-Fleet]
Conflicts=zookeeper.service
MachineMetadata=persistent_tag=1
