[Unit]
Description=Zookeeper Sidekick
BindsTo=zookeeper.service
After=zookeeper.service

[Service]
ExecStart=/bin/sh -c "\
    export ZOOKEEPER_IP=$(/usr/bin/ifconfig eth0 | sed -n '2 p' | awk '{print $2}' | cut -d':' -f2); \
    etcdctl set /services/zookeeper/ip $ZOOKEEPER_IP ; \
    etcdctl set /services/zookeeper/port 2181 ; "

[X-Fleet]
MachineOf=zookeeper.service

