[Unit]
Description=Zookeeper
After=docker.service
Requires=docker.service
Wants=zookeeper-sidekick.service

[Service]
TimeoutStartSec=600
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill %p > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm %p > /dev/null 2>&1'
ExecStartPre=/usr/bin/docker pull wurstmeister/zookeeper
ExecStart=/usr/bin/docker run --name %p -p 2181:2181 wurstmeister/zookeeper
ExecStop=/usr/bin/docker stop %p
Restart=on-failure
RestartSec=120

[X-Fleet]
Conflicts=zookeeper.service
MachineMetadata=persistent_tag=1
