[Unit]
Description=Zookeeper Sidekick
PartOf=zookeeper.service
After=zookeeper.service

[Service]
ExecStart=/bin/sh -c "\
  while true; do \
    export ZOOKEEPER_IP=$(/usr/bin/ifconfig eth0 | sed -n '2 p' | awk '{print $2}' | cut -d':' -f2); \
    export ZOOKEEPER_PORT=$(/usr/bin/docker port zookeeper 2181 | cut -d':' -f2); \
    etcdctl set /services/zookeeper/ip $ZOOKEEPER_IP --ttl 60; \
    etcdctl set /services/zookeeper/port $ZOOKEEPER_PORT --ttl 60; \
    sleep 45; \
  done"
ExecStop=/usr/bin/etcdctl rm --recursive /services/zookeeper

[X-Fleet]
MachineOf=zookeeper.service

